---
// do not prerender dynamic docs pages
export const prerender = false

// use astro content collection to fetch markdown files from /content/docs
import {
    render,
    getEntry,
} from "astro:content";

import LayoutDocs from "../../components/layout-docs.astro";

const doc = Astro.params.docsPath
    ? await getEntry('docs', Astro.params.docsPath)
    : null;
if (!doc) {
    throw new Error(`Document not found: ${Astro.params.docsPath}`);
}
const { Content } = await render(doc);
---

<LayoutDocs activeStem={`/docs/${doc.id}`}>
  <h1>{doc.data?.title}</h1>
  <div class="bd-markdown">
    <Content />
  </div>
</LayoutDocs>