---
import { fetchLastReleaseTag } from "~/utils/fetchChangelogVersions";
import Layout from '~/components/layout.astro';
// redirect to latest version
const tag = await fetchLastReleaseTag()
const minorVersion = tag.split('.').slice(0, -1).join('.').slice(1);
console.log('redirecting to latest version...', minorVersion);
return Astro.redirect(`/docs/changelog/${minorVersion}`);
---

<Layout>
    <div>Redirecting to latest version...</div>
</Layout>