---
import NavToc from "../../../components/docs/NavToc.vue";
import LayoutDocs from "../../components/layout-docs.astro";
import { getEntry, render } from "astro:content";
import Workflows from "~/components/features/scheduling/Workflows.vue";
const doc = await getEntry('docs', '<index>');
if (!doc) {
    throw new Error('Index document not found');
}


const { Content, headings } = await render(doc);
---

<LayoutDocs activeStem="/docs" isHomePage>
    <h1>{doc.data?.title}</h1>
    <div class="bd-markdown">
        <Content />
    </div>
    <NavToc client:visible links={headings.map(heading => ({
        id: heading.slug,
        text: heading.text,
        depth: heading.depth,
    }))} slot="headings" />
</LayoutDocs>