---
import LayoutDocs from "../../components/layout-docs.astro";
---

<LayoutDocs>
    <main>
        <h1>Documentation</h1>
        <p>Welcome to the documentation page. Here you'll find all the information you need to get started.</p>
    </main>
</LayoutDocs>