// Replaces bootstrap/scss/badge.
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $border-radius;

    &:empty {
        display: none;
    }
}

.btn .badge {
    position: relative;
    top: -1px;
}
