@import "../variable";

::deep(body) {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
    }
}

.menu-container {
    position: absolute;
    top: calc(100% - 1px - 13px);
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    perspective: 2000px;
    transition-property: opacity;
    transition: 450ms;
    pointer-events: none;

    .header-arrow {
        position: absolute;
        top: -10px;
        left: 50%;
        margin: 0 0 0 -6px;
        width: 20px;
        height: 20px;
        border-radius: 3px 0 0 0;
        transition-property: transform;
        transition-duration: 450ms;
        z-index: 2;
        background: $white;
        border: 0;
    }

    .menu-shadow-container {
        position: absolute;
        inset: 0;
        max-width: 100%;

        .header-menu {
            display: inline-block;
            padding-top: 10px;
            transform-origin: 50% -50px;
            transition:
                height 350ms,
                width 250ms;
            z-index: 2;
            position: absolute;
            top: -2px;
            left: 0;
            pointer-events: none;
            max-width: 100vw;

            .header-menu-card {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                border-radius: 8px;
                border: 1px solid $white-1;
                overflow: hidden;
                background: $white;

                &-section {
                    max-width: 100vw;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;

                    &.opacity-100 {
                        transition: opacity 700ms ease;
                    }

                    .header-menu-content {
                        padding: 2rem;
                        width: 100%;
                        height: 100%;
                        overflow-x: auto;
                        overflow-y: hidden;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &::-webkit-scrollbar {
                            height: 4px;
                            width: 4px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $black-10;
                            border-radius: 0;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: $black-10;
                        }

                        .menu-title {
                            margin-bottom: 1.5rem;

                            p {
                                color: $black-8;
                                font-size: $font-size-xs;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .dropdown-item {
                            align-items: flex-start;
                            border-radius: 8px !important;
                            display: flex !important;
                            flex-direction: row;
                            padding: 1rem;
                            min-width: 330px;
                            width: 100%;
                            text-transform: capitalize;

                            .same-row {
                                display: flex;
                                align-items: center;

                                strong.tag {
                                    background-color: #c7f0ff;
                                    border: 1px solid #7fbbff;
                                    padding: 4px 6px;
                                    border-radius: 4px;
                                    font-size: $font-size-xs;
                                    margin-left: 8px;
                                    font-weight: 700;
                                    color: #134ecc;
                                }
                            }

                            span {
                                color: $black-1;
                                display: inline-flex;
                                font-size: $font-size-md;
                                font-weight: 600;
                                margin-bottom: 0.25rem;
                                transition: color 0.2s ease;
                            }

                            .material-design-icon {
                                flex-shrink: 0;
                                font-size: 24px;
                                margin-right: 8px;
                                margin-top: -0.25rem;
                                align-self: unset;
                                color: #8405ff;
                                transition: color 0.2s ease;
                            }

                            &:hover {
                                background: #f9f5ff;

                                .material-design-icon {
                                    color: #5a3abc !important;
                                }

                                span {
                                    color: #5a3abc !important;
                                }
                            }

                            p {
                                font-weight: 400;
                                font-size: $font-size-sm;
                                color: $black-6;
                                line-height: 1.4rem;
                                margin: 0;
                            }
                        }

                        .header-solution-column {
                            position: relative;
                            width: 400px;

                            &:first-child {
                                padding-right: 2rem;
                            }

                            &:nth-child(2) {
                                padding: 0 2rem;
                                padding-right: 4rem !important;
                            }

                            &:last-child {
                                padding: 0 2rem;
                            }

                            &:not(:last-child)::after {
                                content: "";
                                position: absolute;
                                right: 0;
                                top: -2.5rem;
                                bottom: -2.5rem;
                                width: 1px;
                                background-color: $white-1;
                            }

                            .menu-title {
                                margin-left: 1.25rem;
                                margin-bottom: 1.5rem;

                                &:not(:first-child) {
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.download-logos-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 4;

    .download-logos {
        position: fixed;
        top: 100%;
        left: 14%;
        border-radius: calc($border-radius-lg * 2);
        border: 1px solid $black-6;
        display: flex;
        flex-direction: column;
        gap: $spacer;
        padding: calc($spacer * 2);
        background-color: rgba(45, 45, 46, 0.93);
        transition-duration: 1s;
        z-index: 5;

        @include media-breakpoint-down(lg) {
            left: 5%;
            top: 110%;
        }

        p.title {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $white;
        }

        .close-icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }
}

.container-xl {
    @include media-breakpoint-down(xxl) {
        .navbar-brand {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-down(xxl) {
        .navbar-brand {
            margin-right: 0.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
        padding-top: calc($spacer / 2);

        .navbar-brand {
            margin: 0 0 calc($spacer * 0.75) $spacer;
        }

        .nav-items {
            margin: 0 $spacer calc($spacer * 0.75) 0;

            span.menu-text {
                margin-top: calc($spacer * 0.3);
                font-size: $font-size-md;
            }
        }
    }
}

.open {
    .container-xl {
        .nav-items {
            span.menu-text {
                color: $black-1;
            }

            .icon-button {
                color: $black-1 !important;
            }

            button.navbar-toggler {
                color: $black-1 !important;
            }
        }
    }
}

nav {
    transform: translateY(0);
    max-height: 100%;
    width: 100vw;
    @keyframes chevron-in {
        0% {
            transform: translateY(2px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes chevron-up {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(3px) rotate(180deg);
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 0;
        padding-top: 0;
    }

    &.scrolled,
    &.open {
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            & {
                background-color: $menu-bg;
                backdrop-filter: $menu-backdrop-filter;
                -webkit-backdrop-filter: $menu-backdrop-filter;
                transition: background-color 250ms ease-in-out;
            }
        }

        &.open {
            @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                & {
                    background-color: $white;
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            & {
                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }
        }
    }

    .navbar-brand {
        img {
            height: 100%;
            width: 180px;

            @include media-breakpoint-down(xl) {
                width: 130px;
            }

            @include media-breakpoint-down(lg) {
                width: 110px;
            }
        }
    }

    a.nav-link {
        display: flex !important;
        align-items: center;
        gap: 4px;
        color: var(--gray-white, #fff);
        box-shadow: none !important;
        font-size: 18px;
        font-weight: 600;

        .dropdown-chevron {
            font-size: 18px;
            display: flex;
            align-items: center;

            :deep(.material-design-icon__svg) {
                bottom: -1px !important;
            }
        }
    }

    button.navbar-toggler,
    &.btn.search,
    .nav-item a,
    div.nav-items a {
        color: var(--gray-white, #fff);
        box-shadow: none !important;
    }

    a.talk-us {
        border: 1px solid $black-6;
        background-color: $white;
        color: $black-1 !important;

        &:hover {
            background-color: $white-4;
        }
    }

    div.nav-items {
        a {
            margin-top: calc($spacer * 0.4);
        }

        a,
        button {
            :deep(.material-design-icon) {
                width: calc($spacer * 1.5);
                height: calc($spacer * 1.5);

                .material-design-icon__svg {
                    width: calc($spacer * 1.5);
                    height: calc($spacer * 1.5);
                }
            }
        }
    }

    .navbar-toggler {
        border: 0;
        font-family: var(--bs-font-monospace);
        text-transform: uppercase;
        font-size: var(--bs-font-size-sm);
    }

    .navbar-collapse {
        max-width: 100%;

        @include media-breakpoint-down(lg) {
            max-height: calc(100vh + 4.1rem);
            overflow-y: auto;
            overflow-x: hidden;
            background-color: $white;
            height: calc(100vh - 3.3rem);
            padding: 0 2rem;
            transition: all 0.25s ease-in-out;

            &.collapsing {
                height: 0;
                opacity: 0;
                transition: all 0.1s ease-in-out;
            }
        }

        ul.navbar-nav {
            li {
                a.dropdown-item {
                    white-space: unset;
                    text-transform: capitalize;
                    padding: 1rem 5px;
                }

                @include media-breakpoint-between(lg, xxl) {
                    font-size: 1rem;
                }

                a.nav-link {
                    border-radius: $border-radius;

                    span.material-design-icon {
                        transition: all 0.2s cubic-bezier(1, 0.25, 0.25, 0.8);
                        will-change: scaleY, top;

                        &.show {
                            top: 4px;
                            transform: scaleY(-1);
                        }
                    }

                    @include media-breakpoint-down(lg) {
                        display: flex;
                        justify-content: space-between;
                        border-radius: 0;
                        background-color: $white;
                        color: $black-1 !important;
                        font-size: $font-size-xl !important;
                        font-weight: 600;
                        border-bottom: 1px solid $white-1;
                        padding: 1.5rem 0;
                        line-height: 26px;
                    }

                    @include media-breakpoint-down(xl) {
                        font-size: 14px;
                    }

                    &:after {
                        display: none;
                    }

                    &.show,
                    &:hover {
                        @include media-breakpoint-up(lg) {
                            color: #cdd5ef !important;
                        }
                    }

                    &.show {
                        @include media-breakpoint-down(lg) {
                            background-color: $white;
                            padding-bottom: 0;
                            border: 0;
                        }
                    }

                    &:hover .dropdown-chevron {
                        animation: chevron-in 0.3s ease forwards;
                    }

                    &.show {
                        .dropdown-chevron {
                            animation: chevron-up 0.3s ease forwards;
                        }
                    }
                }

                .dropdown-menu {
                    padding: 0 calc($spacer * 1.875) calc($spacer * 1.875);
                    margin-top: 10px;

                    &.show {
                        @include media-breakpoint-down(lg) {
                            background-color: $white;
                            border-radius: 0;
                            display: block;
                            border: none;
                            padding: 0 !important;
                        }
                    }

                    .dropdown-column {
                        margin-bottom: 1rem;
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding-left: 0;
                        min-width: 312px;

                        .column-caption {
                            color: #b9b9ba;
                            font-size: $font-size-xs;
                            font-weight: 600;
                            line-height: 24px;
                            margin: 0;
                            text-transform: uppercase;
                            padding-left: 5px;
                        }
                    }

                    li {
                        background-color: transparent;
                        color: $black-1;
                        border: 0 !important;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid $white-1 !important;
                        }

                        .item-row {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                        }

                        .dropdown-item {
                            --bs-dropdown-link-hover-color: #5a3abc;
                            --bs-dropdown-link-hover-bg: #f9f5ff;
                            --bs-dropdown-link-active-color: #5a3abc;
                            --bs-dropdown-link-active-bg: #f9f5ff;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover,
                            &.active {
                                span {
                                    color: #5a3abc;
                                }
                            }

                            span {
                                color: $black;
                                display: inline-block;
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 1.37rem;
                                flex-shrink: 0;
                                margin-right: 0.5rem;
                            }

                            strong.tag {
                                background-color: #c7f0ff;
                                border: 1px solid #7fbbff;
                                padding: 0px 6px;
                                border-radius: 4px;
                                font-size: $font-size-md;
                                font-weight: 700;
                                color: #134ecc;
                            }

                            :deep(.material-design-icon__svg) {
                                fill: #8405ff;
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }

        .nav-button {
            white-space: nowrap;

            li {
                vertical-align: center;
            }

            .btn {
                &.icon-button {
                    font-size: 1.5rem;
                    color: $white-1;

                    &:hover {
                        color: $purple-36;
                    }
                }
            }
        }
    }

    .nav-footer {
        @include media-breakpoint-down(lg) {
            display: flex;
            width: 100%;
            padding: 2rem 2rem 30%;

            li {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 0 !important;
            }

            .get-started {
                padding: calc($spacer * 0.65) $spacer !important;
            }

            :deep(.github .btn-outline-dark) {
                background: transparent;
                color: $black-1 !important;
            }
        }

        @include media-breakpoint-down(md) {
            li {
                flex-direction: column-reverse;
                gap: $spacer;
                align-items: center;

                a {
                    width: 100%;
                }
            }

            .github {
                width: 100%;
            }
        }
    }

    &:not(.transparent):not(.dark) {
        :deep(.github) {
            &:hover {
                .btn-dark {
                    background: transparent !important;
                }

                .btn-outline-dark {
                    background: transparent;
                    color: $white-1 !important;
                }
            }
        }

        :deep(.github .btn-outline-dark) {
            background: transparent;
        }
    }

    .btn:hover {
        color: $purple-36;
    }

    &.transparent {
        background: transparent;
        box-shadow: none;

        a,
        a.nav-link,
        &.btn.search {
            color: var(--bs-white);
        }

        :deep(.github .btn-outline-dark) {
            color: var(--bs-white);
        }

        .navbar-collapse {
            ul.navbar-nav {
                li {
                    a.nav-link {
                        &.show,
                        &:hover {
                            color: $secondary;
                            background: rgba($gray-100, 5%);
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            &.open {
                background: $white;
            }

            .navbar-collapse ul.navbar-nav li .dropdown-menu .dropdown-item {
                color: var(--bs-white);
                --bs-dropdown-link-hover-bg: #{rgba($gray-100, 5%)};
                --bs-dropdown-link-active-bg: #{rgba($gray-100, 5%)};

                &:hover {
                    .material-design-icon,
                    span {
                        color: var(--bs-white);
                    }
                }

                .material-design-icon,
                span {
                    color: var(--bs-white);
                }

                p {
                    color: var(--bs-gray-400);

                    span {
                        color: var(--bs-white);
                    }
                }
            }

            .dropdown-menu {
                background: transparent;
            }
        }
    }

    &.dark {
        background-color: #f4f4f4;
        border-bottom: 1px solid $white-1;
        a.nav-link {
            color: $black-1;
        }

        button.navbar-toggler,
        &.btn.search,
        .nav-item a,
        div.nav-items a {
            color: $black-1;
        }

        a.talk-us {
            border: 1px solid $black-6;
            background-color: $white;
            color: $black-1 !important;
        }

        .navbar-collapse {
            .nav-button {
                .btn.icon-button {
                    color: $black-1;
                }
            }

            ul.navbar-nav li a.nav-link:hover {
                color: $black-1 !important;
            }
        }

        :deep(.github .btn) {
            border: 1px solid $white-1;
            color: $black-1 !important;
        }
        :deep(.github .btn-dark) {
            background: $black-5;
            color: $white-1 !important;
        }
        :deep(.github .btn-outline-dark) {
            color: $black-1;
        }

        :deep(.github .btn-outline-dark:hover) {
            background: transparent !important;
        }

        &.open {
            background-color: $white;

            .container-xl {
                .nav-items {
                    span.menu-text {
                        color: $black-1;
                    }

                    .icon-button {
                        color: $black-1 !important;
                    }

                    button.navbar-toggler {
                        color: $black-1 !important;
                    }
                }
            }
        }
    }
}

.wrapper.announce {
    nav {
        top: 3rem;
    }
}