---
import Layout from "~/components/layout.astro"
import Header from "~/components/price/Header.astro"
import HostSwitcher from "~/components/price/HostSwitcher.astro"
import PriceGrid from "~/components/price/PriceGrid.astro"
import PriceBottom from "~/components/price/PriceBottom.astro"
import PlanTable from "~/components/price/PlanTable.astro"
import Quote from "~/components/price/Quote.astro"

const title = "Pricing"
const description =
    "Choose the right plan for your needs. Start with the Open Source version and scale with the Enterprise Edition of Kestra."
---

<Layout {title} {description}>
    <div class="cont">
        <Header>
            <HostSwitcher slot="switcher" />
        </Header>
        <PriceGrid />
        <PlanTable />
        <Quote />
        <PriceBottom />
    </div>
</Layout>

<style lang="scss">
    .cont {
        overflow: clip;
    }
</style>
