## Common
Thumbs.db
.DS_Store
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings

## Js
.vuepress/dist/
yarn.lock
/build/

## Plugins
content/plugins/**/*
!content/plugins/index.md

## Nuxt
node_modules
*.log
.nuxt
.nitro
.cache
.output
.env
dist
.obsidian/**/*
.vercel

## Cloudflare
.wrangler