<section class="header-container">
    <div class="header container">
        <slot>
            <h1>Open roles</h1>
            <p>
                Drive innovation in a globally distributed, collaborative
                environment
            </p>
        </slot>
    </div>
</section>

<style lang="scss">
    .header-container {
        --careers-grid-size: 55px;
        background-image:
            radial-gradient(
                ellipse at top center,
                var(--ks-background-purple-light) 0%,
                color-mix(in srgb, var(--ks-background-body), transparent 65%)
                    30%,
                var(--ks-background-body) 70%
            ),
            linear-gradient(
                to right,
                var(--ks-border-secondary) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                var(--ks-border-secondary) 1px,
                transparent 1px
            );
        background-size:
            100% 100%,
            var(--careers-grid-size) var(--careers-grid-size),
            var(--careers-grid-size) var(--careers-grid-size);
        background-position: center bottom;
        .header {
            padding-top: 6rem;
            padding-bottom: 4rem;

            h1,
            p {
                color: var(--ks-content-primary);
                text-align: left;
                margin-bottom: 0.5rem;
                font-weight: 400;
            }
        }
    }
</style>
