---
import ArrowRight from "vue-material-design-icons/ArrowRight.vue"
import type { AshbyJob } from "~/utils/careers.ts"
import { slugify } from "@kestra-io/ui-libs"

interface Props {
    positions: Array<AshbyJob>
}

const { positions } = Astro.props

const departments = new Map<string, AshbyJob["department"]>()

const positionsByDepartment = positions.reduce(
    (acc, position) => {
        const departmentId = position.department?.id ?? "-"
        if (position.department) {
            departments.set(departmentId, position.department)
        }
        if (!acc[departmentId]) {
            acc[departmentId] = []
        }
        acc[departmentId].push(position)
        return acc
    },
    {} as Record<string, AshbyJob[]>,
)
---

<section id="positions">
    {
        Object.entries(positionsByDepartment).map(
            ([departmentId, positions]) => (
                <div class="container">
                    <h2 class="mb-4">
                        {departments.get(departmentId)?.name || "Other"}
                    </h2>
                    <ul class="department-positions">
                        {positions.map((doc) => (
                            <li>
                                <a
                                    href={`/careers/${doc.jobPostingIds[0]}-${slugify(doc.title)}`}
                                >
                                    <div class="info-block">
                                        <span>{doc.title}</span>
                                    </div>

                                    <div class="location-block">
                                        <span>{doc.location.name}</span>
                                    </div>
                                    <div class="arrow-block">
                                        <ArrowRight alt="arrow_right" />
                                    </div>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            ),
        )
    }
</section>

<style lang="scss">
    section {
        .department-positions {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 4rem;
        }

        h2 {
            color: var(--ks-content-tertiary);
            font-family: $font-family-monospace;
            font-size: 1rem;
            font-weight: 400;
        }

        li {
            a {
                padding: 1rem 1rem;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                &:hover {
                    background-color: var(--ks-background-secondary);
                }

                .info-block {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    flex-grow: 1;

                    span {
                        color: var(--ks-content-primary);
                        font-size: $h6-font-size;
                        font-weight: 700;
                    }
                }

                .arrow-block {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    font-size: 16px;
                }
            }
        }
    }
</style>
