---
import { Image } from "astro:assets"
import TeamImages from "~/utils/teamsImages"
import { Icon } from "astro-icon/components"
import acxiomSvg from "~/assets/teams/acxiom.svg?raw"




const values = [
    {
        icon: "mdi:check-decagram-outline",
        title: "Quality",
        description:
            "We are committed to deliver a platform that meets the highest standards.",
    },
    {
        icon: "mdi:hub",
        title: "Collaboration",
        description:
            "We are creating a strong relationships with our users, customers, and team members.",
    },
    {
        icon: "mdi:account-supervisor-circle-outline",
        title: "User-Centric",
        description:
            "We incorporate users feedbacks and address their challenges as we continue to build Kestra.",
    },
    {
        icon: "mdi:opacity",
        title: "Transparency",
        description:
            "We value openness and honesty in all aspects of our work at every step.",
    },
]
---

<section class="mission">
    <div class="mission-content">
        <header data-usal="fade-r">
            <h1>Staying <span class="highlight">True</span> to our Mission</h1>
            <p>
                Our values are at the core of everything we do. We are building
                a platform that not only meets the needs of our users but also
                exceeds their expectations. We are driven by a passion for
                continuous improvement. We strive to develop new ideas and
                solutions that redefine the orchestration landscape.
            </p>
        </header>

        <div class="values" data-usal="fade-u delay-200">
            {
                values.map((value, index) => (
                    <article
                        class="value"
                        data-usal={`fade-u delay-${300 + index * 100}`}
                    >
                        <div class="value-header">
                            <Icon name={value.icon} class="icon" />
                            <h3>{value.title}</h3>
                        </div>
                        <p>{value.description}</p>
                    </article>
                ))
            }
        </div>

        <blockquote class="testimonial" data-usal="fade-r delay-700">
            <p>
                "Kestra is like the Wizard of Oz Wizard, doing its magic behind
                the curtain"
            </p>
            <footer>
                <span
                    class="company-logo"
                    set:html={acxiomSvg}
                    role="img"
                    aria-label="Acxiom"
                />
            </footer>
        </blockquote>
    </div>

    <div class="mission-visual">
        <Image
            src={TeamImages["executions.png"]}
            alt="Kestra Dashboard"
            class="dashboard-image"
            data-usal="fade-l delay-400"
        />
    </div>
</section>

<style lang="scss">
    @import "~/assets/styles/variable";

    .mission {
        display: grid;
        grid-template-columns: 55% 45%;
        background: var(--ks-background-primary-inverse);

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            min-height: auto;
        }

        .mission-content {
            color: var(--ks-content-primary-inverse);
            padding: $rem-5 56px $rem-5 290px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 42px;

            @media (max-width: 1399px) {
                padding: $rem-5 200px $rem-5 $rem-2;
                padding-right: $rem-2;
            }

            @media (max-width: 1199px) {
                padding-left: 150px;
            }

            @media (max-width: 991px) {
                padding: $rem-5 40px;
            }

            header {
                h1 {
                    margin-bottom: 24px;
                }

                p {
                    margin: 0;
                }
            }

            .values {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 29px;

                @media (max-width: 450px) {
                    grid-template-columns: 1fr;
                }

                .value {
                    &-header {
                        display: flex;
                        align-items: center;
                        gap: 0.75rem;
                        margin-bottom: 0.5rem;

                        .icon {
                            font-size: $font-size-lg;
                            width: $rem-1;
                            height: $rem-1;
                            color: var(--ks-content-primary-inverse);
                        }

                        h3 {
                            font-size: $font-size-md;
                            line-height: 24px;
                            margin: 0;
                            font-weight: 700;
                        }
                    }

                    p {
                        font-size: $font-size-sm;
                        line-height: 1.5;
                        color: var(--ks-content-primary-inverse);
                        margin: 0;
                    }
                }
            }

            .testimonial {
                border-left: 1px solid var(--ks-border-secondary);
                padding-left: $rem-1;
                margin: 0;

                p {
                    font-size: $font-size-sm;
                    line-height: 24px;
                    color: var(--ks-content-primary-inverse);
                    margin-bottom: 12px;

                    @media (max-width: 575px) {
                        font-size: 13px;
                        margin-bottom: 0.5rem;
                    }
                }

                footer {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    color: var(--ks-content-primary-inverse);

                    .company-logo {
                        display: inline-block;
                        width: 105px;
                        height: 21px;
                    }
                }
            }
        }

        .mission-visual {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;

            .dashboard-image {
                width: 100%;
                object-fit: contain;
                border-radius: $border-radius-lg;

                @media (min-width: 1700px) {
                    width: auto;
                    height: 100%;
                    padding: 60px 0;
                }

                @media (max-width: 991px) {
                    padding: 60px 0;
                }

                @media (max-width: 575px) {
                    padding: $rem-3 0 $rem-4 $rem-1;
                }
            }
        }
    }
</style>
