---
import { Image } from "astro:assets"
import TeamImages from "~/utils/teamsImages"

const teamMembers = [
    {
        name: "Emmanuel Darras",
        title: "CEO",
        image: TeamImages["edarras-round.png"],
    },
    {
        name: "Ludovic Dehon",
        title: "CTO",
        image: TeamImages["ldehon-round.png"],
    },
    {
        name: "Anna Geller",
        title: "Product Lead",
        image: TeamImages["ageller-round.png"],
    },
    {
        name: "Georg Traar",
        title: "Product Manager",
        image: TeamImages["gtraar-round.png"],
    },
    {
        name: "David Khan",
        title: "Sales Leader",
        image: TeamImages["dkhan-round.png"],
    },
    {
        name: "Luke Lipan",
        title: "Sales Leader",
        image: TeamImages["llipan-round.png"],
    },
    {
        name: "Paul Grainger",
        title: "Lead Field Engineer",
        image: TeamImages["pgrainger-round.png"],
    },
    {
        name: "Parham Parvizi",
        title: "Solution Architect",
        image: TeamImages["pparvizi-round.png"],
    },
    {
        name: "Florian Hussonnois",
        title: "Lead Software Engineer",
        image: TeamImages["fhussonois-round.png"],
    },
    {
        name: "Loïc Mathieu",
        title: "Lead Software Engineer",
        image: TeamImages["lmathieu-round.png"],
    },
    {
        name: "François Delbrayelle",
        title: "Lead Software Engineer",
        image: TeamImages["fdelbrayelle-round.png"],
    },
    {
        name: "Martin-Pierre Roset",
        title: "Lead Growth & Marketing",
        image: TeamImages["mproset-round.png"],
    },
    {
        name: "Elliot Gunn",
        title: "Product Marketing Manager",
        image: TeamImages["egunn-round.png"],
    },
    {
        name: "Nicolas Callens",
        title: "Lead Product Designer",
        image: TeamImages["ncallens-round.png"],
    },
    {
        name: "Faizan Qazi",
        title: "Solution Engineer",
        image: TeamImages["fqazi-round.png"],
    },
    {
        name: "Antoine Lin",
        title: "Lead Finance & Admin",
        image: TeamImages["alin-round.png"],
    },
    {
        name: "Benoît Pimpaud",
        title: "Product Owner",
        image: TeamImages["bpimpaud-round.png"],
    },
    {
        name: "Amara Graham",
        title: "Developer Advocate",
        image: TeamImages["agraham-round.png"],
    },
    {
        name: "Will Russell",
        title: "Developer Advocate",
        image: TeamImages["wrussell-round.png"],
    },
    {
        name: "Yann Coornaert",
        title: "Software Engineer",
        image: TeamImages["ycoornaert-round.png"],
    },
    {
        name: "Brian Mulier",
        title: "Software Engineer",
        image: TeamImages["bmulier-round.png"],
    },
    {
        name: "Malay Dewangan",
        title: "Software Engineer",
        image: TeamImages["mdewangan-round.png"],
    },
    {
        name: "Nicolas Kwiatkowski",
        title: "Software Engineer",
        image: TeamImages["nkwiatkowski-round.png"],
    },
    {
        name: "Roman Acevedo",
        title: "Software Engineer",
        image: TeamImages["racevedo-round.png"],
    },
    {
        name: "Miloš Paunović",
        title: "Software Engineer",
        image: TeamImages["mpaunovic-round.png"],
    },
    {
        name: "Bart Ledoux",
        title: "Software Engineer",
        image: TeamImages["elevatebart.png"],
    },
    {
        name: "Piyush Bhaskar",
        title: "Software Engineer",
        image: TeamImages["pbhaskar-round.png"],
    },
    {
        name: "Marco Sabatini",
        title: "Platform Engineer",
        image: TeamImages["msabatini-round.png"],
    },
    {
        name: "Gilles Perreymond",
        title: "Platform Engineer",
        image: TeamImages["gperreymond-round.png"],
    },
    {
        name: "Alex Emerich",
        title: "Technical Writer",
        image: TeamImages["aemerich-round.png"],
    },
    {
        name: "Rok Grabnar",
        title: "Data Analyst",
        image: TeamImages["rgrabnar-round.png"],
    },
    {
        name: "Pradumna Saraf",
        title: "QA Engineer",
        image: TeamImages["psaraf-round.png"],
    },
    {
        name: "Wish to see <br />your photo here?",
        title: null,
        image: TeamImages["portrait-round.png"],
        isOpenPosition: true,
    },
]
---

<div class="container">
    <section class="team-section" data-usal="fade-u">
        <div class="subtitle">
            <p>An International Team</p>
        </div>
        <p class="baseline">
            Kestra is led by experienced founders and industry veterans
            dedicated to innovation, quality, and customer success.
        </p>
        <div class="team-grid" data-usal="fade-u delay-200">
            {
                teamMembers.map((member, index) => (
                    <div
                        class="team-card"
                        data-usal={`zoomin delay-${index * 50}`}
                    >
                        <Image
                            src={member.image}
                            alt={member.name.replace(/<br\s*\/?>/gi, " ")}
                            width={110}
                            height={110}
                        />
                        <div class="team-info">
                            <div
                                class={`team-name ${member.isOpenPosition ? "mb-3" : ""}`}
                                set:html={member.name}
                            />
                            {member.title && (
                                <div class="team-title">{member.title}</div>
                            )}
                            {member.isOpenPosition && (
                                <a
                                    href="/careers"
                                    class="btn btn-sm btn-secondary"
                                >
                                    Open Positions
                                </a>
                            )}
                        </div>
                    </div>
                ))
            }
        </div>
    </section>
</div>

<style lang="scss">
    @import "~/assets/styles/variable";

    .team-section {
        padding: 0 !important;
        @include media-breakpoint-up(md) {
            padding: 2rem !important;
        }

        .subtitle p,
        p.baseline {
            margin-bottom: 0;
            color: $black-2 !important;
        }

        p.baseline {
            margin-bottom: 3rem !important;
            font-size: 18px;
            line-height: 26px;
            max-width: 100%;
        }
    }

    .subtitle {
        text-align: center;
        margin: 0 auto calc($spacer / 2);

        p {
            color: $black-2;
            text-align: center;
            font-family: $font-family-sans-serif;
            font-size: calc($font-size-base * 3.125);
            font-style: normal;
            font-weight: 400;
            line-height: calc($spacer * 3.125);

            @include media-breakpoint-down(sm) {
                font-size: 1.875rem !important;
                line-height: calc($spacer * 1.875);
            }
        }
    }

    .baseline {
        text-align: center;
        margin-bottom: 2rem;
    }

    .container {
        max-width: 100%;
        background-color: $white;
        padding: 80px 0;

        @include media-breakpoint-up(md) {
            padding: 80px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 80px 100px;
        }
    }

    .team-grid {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 2rem;

        @media (min-width: 500px) and (max-width: 765px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(5, 1fr);
        }
        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .team-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $rem-1;
        gap: $rem-1;

        img {
            border-radius: 50%;
            object-fit: cover;
            filter: grayscale(100%);
        }

        .team-info {
            text-align: center;

            .team-name {
                color: $black;
                font-size: $font-size-md;
                font-weight: 700;
                margin-bottom: 4px;
                line-height: 1.2;

                &.mb-3 {
                    margin-bottom: 1rem;
                }
            }

            .team-title {
                color: $black-10;
                font-size: $font-size-xs;
                line-height: 20px;
            }
        }
    }
</style>
