---
const logos = [
    {
        name: "Fila",
        Logo: await import("./assets/logos/fila.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "Deutsche Telekom",
        Logo: await import("./assets/logos/deutsche-telekom.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "BrainLab",
        Logo: await import("./assets/logos/brainlab.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "Bloomberg",
        Logo: await import("./assets/logos/bloomberg.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "Toyota",
        Logo: await import("./assets/logos/toyota.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "Apple",
        Logo: await import("./assets/logos/apple.svg").then(
            (module) => module.default,
        ),
    },
    {
        name: "Apotek",
        Logo: await import("./assets/logos/apotek.svg").then(
            (module) => module.default,
        ),
    },
]
---

<div class="logo-banner">
    {
        logos.map((logo) => (
            <div title={logo.name}>
                <logo.Logo />
            </div>
        ))
    }
</div>

<style lang="scss">
    .logo-banner {
        display: flex;
        border: 1px solid var(--ks-border-primary);
        border-left: none;
        border-right: none;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        > div {
            flex: 1;
            text-align: center;
        }
        svg {
            height: 30px;
            max-width: 70%;
            opacity: 0.7;
            transition: opacity 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
</style>
