---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import CustomerStory from "~/components/use-cases/CustomerStory.vue"
import BusinessStats from "~/components/layout/BusinessStats.astro"
import Unlock from "~/components/use-cases/Unlock.vue"
import HeaderBox from "~/components/common/HeaderBox.vue"
import Cards from "~/components/use-cases/Cards.astro"
import Quadis from "~/assets/companies/quadis.svg?raw"
import ChartBellCurve from "vue-material-design-icons/ChartBellCurve.vue"
import CommentQuoteOutline from "vue-material-design-icons/CommentQuoteOutline.vue"
import FileChartOutline from "vue-material-design-icons/FileChartOutline.vue"
import ImageFilterCenterFocus from "vue-material-design-icons/ImageFilterCenterFocus.vue"
import RefreshAuto from "vue-material-design-icons/RefreshAuto.vue"
import ArrowUp from "~/components/demo/assets/arrow-up-thin.svg?url"

const TITLE = "Kestra for Automotive"
const DESCRIPTION =
    "Kestra empowers data engineers, software engineers, and platform engineers in the automotive industry to create custom workflows effortlessly."

const COMPANY_INFO = {
    personName: "Ruben Boniz Martinez",
    personRole: "Team Lead",
    logo: Quadis,
    logoAlt: "Quadis",
}

const UNLOCK_CONTENT = {
    leftContent: [
        {
            title: "Plugin Ecosystem",
            description:
                "Capabilities for real-time data processing and decision-making, critical for time-sensitive automotive operations.",
        },
        {
            title: "Monitoring and Alerting",
            description:
                "Kestra’s intuitive interface and comprehensive documentation make it easy for automotive engineers to quickly build and deploy powerful workflows.",
        },
    ],
    rightContent: [
        {
            title: "Real-Time Processing",
            description:
                "Extensive plugin support for various data sources and destinations, allowing seamless integration with existing automotive systems.",
        },
        {
            title: "Quick to Learn, Easy to Master",
            description:
                "Robust monitoring and alerting features that ensure proactive issue resolution, minimizing operational disruptions.",
        },
    ],
}

const CARDS_DATA = [
    {
        icon: RefreshAuto,
        cardInfo: {
            title: "Automotive Data Management",
            description:
                "Automates the integration and management of vehicle data from various sources, ensuring that records are always updated and accurate.",
        },
    },
    {
        icon: CommentQuoteOutline,
        cardInfo: {
            title: "Supply Chain Optimization",
            description:
                "Process large volumes of supply chain data quickly and accurately. Kestra automates logistics workflows and data analysis, significantly cutting down processing times and minimizing errors.",
        },
    },
    {
        icon: ChartBellCurve,
        cardInfo: {
            title: "Regulatory Compliance",
            description:
                "Automate the generation of compliance reports, access logs, and data usage reports. Ensure compliance with automotive standards reducing the risk of breaches and improving data governance.",
        },
    },
    {
        icon: FileChartOutline,
        cardInfo: {
            title: "Predictive Maintenance",
            description:
                "Integrates your workflows with machine learning models and analytics platforms to utilize vehicle data for predictive maintenance.",
        },
    },
    {
        icon: ImageFilterCenterFocus,
        cardInfo: {
            title: "Streamlined Data Management",
            description:
                "Centralize your fragmented data workflow into a unified control plane, thereby simplifying orchestration and improving efficiency.",
        },
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <div class="automotive-use-case">
        <DetailsHero
            class="red"
            client:load
            title="Drive Orchestration<br> for <span>Automotive</span><br>Suppliers"
            description="Kestra empowers data engineers, software engineers, and platform engineers in the automotive industry to create custom workflows effortlessly."
            image={{
                src: "/landing/usecases/automotive/header-hero.svg",
                alt: "Kestra Automotive",
            }}
        />
        <Cards
            class="red"
            title="Use Cases in <span>Automotive</span>"
            cards={CARDS_DATA}
        />
        <CustomerStory
            client:visible
            class="red"
            title="Quadis trust Kestra for Its<br> Business Critical<br> Operations"
            description="Quadis, the largest car retailer in Spain, relies on Kestra to streamline its daily operations, from financial reporting to car delivery alerting. Kestra will support their new data lake architecture, enhancing data analytics, internal web scraping, and resource optimization using AWS services."
            image={{
                src: "/landing/usecases/automotive/visual.svg",
                alt: "Quadis",
            }}
            logo={{
                src: Quadis,
                alt: "Quadis",
                width: "208px",
            }}
            href="/blogs/2024-06-13-quadis"
        />
        <div class="red">
            <BusinessStats
                items={[
                    {
                        type: "stat",
                        icon: { src: ArrowUp },
                        value: "500%",
                        label: "In workflow delivery",
                    },
                    {
                        type: "quote",
                        text: "“Kestra plugin and <br> it’s easy for anyone to understand”",
                    },
                    {
                        type: "author",
                        name: COMPANY_INFO.personName,
                        role: COMPANY_INFO.personRole,
                        logo: {
                            src: COMPANY_INFO.logo,
                            alt: COMPANY_INFO.logoAlt,
                        },
                        class: "align-items-start",
                    },
                ]}
            />
        </div>
        <Unlock
            client:visible
            class="red"
            title="Automotive Ecosystem"
            description="Kestra empowers data engineers, software engineers, and platform engineers in the automotive industry to create custom workflows effortlessly, ensuring seamless operations and optimized performance across all processes."
            logo={{
                src: "/landing/usecases/automotive/car-hatchback.svg",
                alt: "car hatchback",
            }}
            strokeColor="#E3262F"
            content={UNLOCK_CONTENT}
        />
        <div class="enterprise-edition">
            <HeaderBox client:visible />
        </div>
    </div>
</Layout>
