---
import Layout from "~/components/layout.astro"
import DetailsHero from "~/components/use-cases/DetailsHero.vue"
import WhatIs from "~/components/use-cases/WhatIs.vue"
import Alternation from "~/components/features/shared/Alternation.astro"
import Section from "~/components/layout/Section.astro"
import Enterprise from "~/components/use-cases/Enterprise.vue"
import Cards from "~/components/use-cases/Cards.astro"
import FooterContact from "~/components/layout/FooterContact.astro"
import CodeBrackets from "vue-material-design-icons/CodeBrackets.vue"
import Git from "vue-material-design-icons/Git.vue"
import GitHub from "vue-material-design-icons/Github.vue"
import OneUp from "vue-material-design-icons/OneUp.vue"

const TITLE = "CI/CD for your Kestra Workflows"
const DESCRIPTION =
    "Embrace software engineering practices for versioning, deploying, and maintaining data workflows"

const FEATURES = [
    {
        title: "Workflows as Code",
        description:
            "Define and manage data workflows using YAML configuration, which opens data workflows to more people in your organization.",
        icon: CodeBrackets,
    },
    {
        title: "Versioning",
        description:
            "Kestra workflows are automatically versioned, helping track changes and rollback to previous versions if needed.",
        icon: Git,
    },
    {
        title: "CI/CD Integration",
        description:
            "Kestra integrates with Terraform, GitLab, and GitHub Actions to automate the deployment of data workflows to production environments.",
        icon: GitHub,
    },
    {
        title: "Software Engineering Best Practices",
        description:
            "Kestra embraces software engineering best practices, promoting high-quality and reliable data pipelines.",
        icon: OneUp,
    },
]

const MAIN_CONTENT = [
    {
        title: "Implementing CI/CD for Kestra Flows",
        image: {
            src: "/landing/usecases/cicd/feature-1.svg",
            alt: "Diagram illustrating Kestra's integration with GitHub Actions",
            width: 877,
            height: 713,
        },
        content:
            "You can version-control your Kestra workflows in a Git repository, easily track changes, collaborate with other team members, and roll back to previous versions if necessary.<br /><br />" +
            "The CI/CD pipeline automatically validates and deploys the updated workflows to the Kestra environment whenever changes are committed and pushed to a given Git branch.",
    },
    {
        title: "From Development to Production",
        image: {
            src: "/landing/usecases/cicd/feature-2.svg",
            alt: "Picture of development workflow to production deployments",
            width: 725,
            height: 762,
        },
        content:
            "Creating data workflows often starts locally and gradually moves towards production. It involves designing data pipelines, setting up tasks, dependencies, and verifying the code's functionality.<br /><br />" +
            "The typical workflow of moving a data pipeline from development to production starts with a pull request. Once approved, the changes get deployed to the production.<br /><br />" +
            "This streamlined approach ensures that the production environment remains stable and secure while allowing for rapid adaptation to changing business needs and requirements.",
    },
    {
        title: "Manage DataOps Lifecycle with Kestra and Terraform",
        image: {
            src: "/landing/usecases/cicd/feature-3.svg",
            alt: "Illustration showing Kestra integration to Hashicorp Terraform provider",
            width: 878,
            height: 762,
        },
        content:
            "Combining Kestra and Terraform provides a reliable foundation for managing the data engineering lifecycle while promoting collaboration between engineers and business users.<br /><br />" +
            "The combination of Infrastructure as Code and Workflow as Code enables organizations to embrace engineering best practices, balancing fast feedback loops during development with the benefits of infrastructure as code for production environments.",
    },
    {
        title: "Fast iteration cycles",
        image: {
            src: "/landing/usecases/cicd/feature-4.svg",
            alt: "Image showing a fast feedback loop",
            width: 877,
            height: 713,
        },
        content:
            "Kestra enables both data teams and business stakeholders to participate in workflow creation using a simple declarative configuration.<br /><br />" +
            "Kestra UI provides an embedded code editor, versioning, auto-completion, and a topology view of workflow dependencies, simplifying the development process for all stakeholders. This way, Kestra facilitates collaboration and fast iteration cycles.",
    },
]
---

<Layout title={TITLE} description={DESCRIPTION}>
    <div>
        <DetailsHero
            client:load
            title="<span>CI/CD</span> for your Kestra Workflows"
            description="Embrace software engineering practices for versioning, deploying, and maintaining data workflows"
            image={{
                src: "/landing/usecases/cicd/intro-bg.svg",
                width: 785,
                height: 400,
                alt: "CI/CD for Kestra Workflows",
            }}
        />

        <WhatIs
            client:visible
            title="What is CI/CD?"
            description="CI/CD stands for Continuous Integration and Continuous Deployment, software engineering practices that involve regularly merging code changes (Continuous Integration) and automated deployment to production (Continuous Deployment). CI/CD practices make the development process more efficient, less error-prone, and better aligned with business needs."
        />

        <Alternation items={MAIN_CONTENT}>
            <Section
                subtitle="Build your Workflows"
                subtitleAfter="as Code"
                class="p-0 bg-transparent"
                baseline="Kestra allows building workflows as code. This approach facilitates seamless integration with existing CI/CD processes, Infrastructure as Code tools like Terraform, and version control systems like Git."
            />
        </Alternation>

        <Enterprise
            client:visible
            title="Apply DevOps best practices in your data engineering lifecycle"
            subtitle="Kestra provides a comprehensive solution to streamline the data engineering lifecycle by offering collaborative development and infrastructure as code capabilities. Through its user-friendly interface and integration with tools like Terraform, Kestra enables organizations to develop and deploy data workflows efficiently while maintaining the stability and security of production environments."
        />
        <Cards title="<span class='highlight'>Key Features</span>" cards={FEATURES} />
        <FooterContact
            client:visible
            title="Ready to take your data platform to the next level?"
        />
    </div>
</Layout>
