---
import Layout from "~/components/layout.astro"
import HeaderSection from "~/components/use-cases/HeaderSection.vue"
import MainSection from "~/components/use-cases/MainSection.vue"
import EnterpriseEditionSection from "~/components/use-cases/EnterpriseEditionSection.vue"
import CardSection from "~/components/use-cases/disaster-recovery/CardSection.vue"
import CapabilitiesSection from "~/components/use-cases/CapabilitiesSection.vue"
import LayoutFooterContact from "~/components/layout/FooterContact.vue"

const title = "Disaster Recovery with Kestra"
const description =
    "Automate disaster recovery processes, secure your data, and ensure business continuity with Kestra."

const mainContent = [
    {
        title: "Automated Backup",
        img: "/landing/usecases/disaster-recovery/automated-backup.svg",
        imgAlt: "Automated Backup",
        imgWidth: "568px",
        imgHeight: "420px",
        description:
            "Kestra enables automated backup processes, ensuring that your data is regularly and securely backed up. This minimizes data loss and facilitates quick recovery in the event of a disaster.",
        content: `
                    <ul>
                        <li>
                            Scheduled Backups:
                            <span>Automate regular backups of critical data and infrastructure components, ensuring that you always have up-to-date copies available.</span>
                        </li>
                        <li>
                            Secure Storage:
                            <span>Store backups securely in the cloud or on-premises, ensuring data protection and compliance with regulatory requirements.</span>
                        </li>
                    </ul>
                  `,
    },
    {
        title: "Leverage API Integrations",
        img: "/landing/usecases/disaster-recovery/leverage-integrations.svg",
        imgAlt: "Leverage API Integrations",
        imgWidth: "568px",
        imgHeight: "420px",
        description:
            "Kestra integrates with various APIs, enabling you to automate and manage disaster recovery processes efficiently. Utilize API capabilities to trigger backups, initiate failover procedures, and streamline recovery workflows.",
        content: `
                    <ul>
                        <li>
                            API-Driven Automation:
                            <span>
                               Use APIs to automate disaster recovery tasks, from triggering backups to initiating failover and restoration processes.
                            </span>
                        </li>
                        <li>
                           Custom Recovery Workflows:
                            <span>
                                Build custom disaster recovery workflows using Kestra's API capabilities, ensuring they meet your specific needs and requirements.
                            </span>
                        </li>
                    </ul>
                `,
    },
    {
        title: "Automated Failover and Restoration",
        img: "/landing/usecases/databases/quick-recovery.svg",
        imgAlt: "Automated Failover and Restoration",
        imgWidth: "604px",
        imgHeight: "477px",
        description:
            "Kestra's automation capabilities enable you to set up workflows that automatically trigger failover and restoration processes, reducing downtime and ensuring business continuity.",
        content: `
                    <ul>
                        <li>
                            Automated Failover:
                            <span>
                                Configure automated failover processes to switch to backup systems seamlessly, ensuring minimal disruption during a disaster.
                            </span>
                        </li>
                        <li>
                            Quick Restoration:
                            <span>
                                 Automate the restoration of data and services to ensure a swift recovery and return to normal operations.
                            </span>
                        </li>
                    </ul>
                  `,
    },
]

const capabilities = [
    "Continuous Integration/Continuous Deployment (CI/CD)",
    "Provisioning and Deployment",
    "Infrastructure Monitoring",
]
---

<Layout title={title} description={description}>
    <HeaderSection
        client:load
        titleHtml="Disaster Recovery"
        description="Automate disaster recovery processes, secure your data, and ensure business continuity."
        imageSrc="/landing/usecases/disaster-recovery/header-hero.svg"
        imageAlt="Devops Monitoring"
    />

    <MainSection
        client:visible
        subtitle="Disaster Recovery"
        subtitleBefore="Automate"
        baseline="Kestra empower platform engineers to maintain data integrity and ensure quick recovery from failures."
        mainContent={mainContent}
    />

    <EnterpriseEditionSection client:visible />

    <CardSection client:visible />

    <CapabilitiesSection
        client:visible
        title="for Platform Orchestration"
        sections={capabilities}
    />

    <LayoutFooterContact
        client:visible
        title="Ready to take your Infrastructure to the next level ?"
        purpleButtonText="Get Started"
        purpleButtonHref="/docs/getting-started/quickstart"
        darkButtonText="Talk to us"
        darkButtonHref="/demo"
    />
</Layout>
