---
import Button from "~/components/common/Button.vue"

interface Props {
    buttons: Array<{ label: string; href: string }>
}

const { buttons } = Astro.props
---

<div class="docs-button-row">
    {
        buttons.map((button, index) => (
            <Button
                href={button.href}
                type={index === 0 ? 'primary' : ''}
            >
                {button.label}
            </Button>
        ))
    }
</div>

<style lang="scss" scoped>
    .docs-button-row {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }
</style>
