<header>
  <nav>
    <a href="/" aria-label="Kestra home"><span>Kestra</span></a>
    <ul role="list">
      <li><a href="/product">Product</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/enterprise">Enterprise</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/docs">Docs</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/community">Community</a></li>
    </ul>
    <div>
      <a href="https://github.com/kestra-io/kestra" aria-label="GitHub">GitHub</a>
      <a href="/login">Log in</a>
      <a href="/get-started">Get started</a>
    </div>
  </nav>
</header>