---
import { Image } from "astro:assets"

interface Props {
    cards: {
        title: string
        description: string
        image: ImageMetadata
        reverse?: boolean
    }[]
}

const { cards } = Astro.props
---

<section class="section-card">
    <div class="container">
        <h2 data-usal="fade-u delay-0 duration-400 ease-out">
            <slot name="title" />
        </h2>

        <div class="cards-wrapper mt-4">
            {
                cards.map((card, index) => (
                    <div
                        class="cards"
                        data-usal={`fade duration-400 delay-${50 + index * 50} ease-out`}
                    >
                        <div class:list={["inner-card", { reverse: card.reverse }]}>
                            <div
                                class="content-card"
                                data-usal={`fade-u duration-350 delay-${100 + index * 50} ease-out`}
                            >
                                <h2>{card.title}</h2>
                                <p>{card.description}</p>
                            </div>

                            <div class="img-card">
                                <Image
                                    src={card.image}
                                    alt={card.title}
                                    class="img-fluid"
                                    data-usal={`zoomin delay-${400 + index * 50} duration-400 ease-out`}
                                />
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style lang="scss">
    @import "~/assets/styles/variable";

    .section-card {
        background: var(--ks-background-body);
        padding: 3rem 1rem;

        @include media-breakpoint-up(md) {
            padding: 4rem 0;
        }

        .container {
            padding: 0;

            h2 {
                font-weight: 700;
                margin: 0;

                @include media-breakpoint-up(md) {
                    text-align: left;
                    margin-bottom: 3.5rem;
                }

                :global(.gradient) {
                    color: var(--ks-content-color-highlight);
                }

                :global(.indent) {
                    display: block;
                    text-align: center;

                    @include media-breakpoint-up(md) {
                        margin-left: 4rem;
                        text-align: left;
                    }
                }
            }

            .cards-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1.625rem;

                .cards {
                    border: 1px solid var(--ks-border-primary);
                    padding: 0.375rem;
                    border-radius: 0.8125rem;

                    .inner-card {
                        background: var(--ks-background-secondary);
                        border-radius: 0.5625rem;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        
                        @include media-breakpoint-up(md) {
                            flex-direction: row;
                            padding-left: 2rem;

                            &.reverse {
                                flex-direction: row-reverse;
                                padding: 0 2rem 0 0;
                            }
                        }

                        .content-card {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            padding-bottom: 1rem;
                            padding: 0.5rem;

                            @include media-breakpoint-up(xl) {
                                max-width: 360px;
                                min-height: 184px;
                                gap: 1rem;
                            }

                            h2 {
                                font-weight: 700;
                                margin: 0;
                                font-size: 1.5rem;
                                line-height: 1.875rem;
                                white-space: pre-line;

                                @include media-breakpoint-up(lg) {
                                    font-size: 1.875rem;
                                }
                            }

                            p {
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 1.125rem;
                                white-space: pre-line;
                                color: var(--ks-content-primary);
                                margin: 0;

                                @include media-breakpoint-up(lg) {
                                    line-height: 1.375rem;
                                }
                            }
                        }

                        .img-card {
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }

                            @include media-breakpoint-up(md) {
                                width: auto;
                                margin-bottom: 0;

                                img {
                                    min-width: 479px;
                                    height: 261px;
                                    object-fit: cover;
                                }
                            }

                            @include media-breakpoint-up(lg) {
                                width: auto;
                                margin-bottom: 0;

                                img {
                                    min-width: 640px;
                                    height: 351px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>
