---
import FeaturesHeader from "~/components/features/Header.astro"
import FeaturesDeclarative from "~/components/features/Declarative.astro"
import FeaturesOutBox from "~/components/features/OutBox.astro"
import FeaturesExperience from "~/components/features/Experience.astro"
import FeaturesFeatureEnterprise from "~/components/features/FeatureEnterprise.astro"
import FeaturesCTA from "~/components/features/CTA.astro"
import Layout from "~/components/layout.astro"
import PluginsBox from "~/components/PluginsBox.astro"

const title = "Powerful Features for Reliable Data Workflows"
const description =
    "Create and Deploy all kinds Data Pipelines with Ease and Speed with Kestra | Your All-in-One Solution for Orchestrating Workflows"
---

<Layout title={title} description={description}>
    <div class="features">
        <FeaturesHeader />
        <FeaturesDeclarative />
        <FeaturesOutBox />
        <section class="features-plugins">
            <div class="container">
                <PluginsBox />
            </div>
        </section>
        <FeaturesExperience />
        <FeaturesFeatureEnterprise />
        <FeaturesCTA />
    </div>
</Layout>

<style lang="scss" scoped>
    @import "~/assets/styles/variable";
    .features-plugins {
        background: linear-gradient(180deg, #e8eaf2 74.52%, #ffffff 74.52%);
        padding: 2rem 1rem;
        margin-top: -2rem;

        @include media-breakpoint-up(lg) {
            padding: 6rem;
        }
        text-align: center;

        .container {
            margin-bottom: 3rem;
        }
    }
</style>
