---
import Layout from "~/components/layout.astro"
import PartnersHeaders from "~/components/partners/Headers.vue"
import Partners from "~/components/partners/Partners.vue"
import PartnersIntegratesWith from "~/components/partners/IntegratesWith.vue"
import PartnersBetterTogether from "~/components/partners/BetterTogether.vue"
import PartnersPerksAndBenefits from "~/components/partners/PerksAndBenefits.vue"
import PartnersBecomeAPartner from "~/components/partners/BecomeAPartner.vue"

const title = "Kestra Partners"
const description =
    "Whether you are building something new, upgrading a legacy stack, or re-platforming, you can trust Kestra and our partner ecosystem to make that journey a success.Discover the team and values behind our mission to empower data-driven organizations worldwide"
---

<Layout title={title} description={description}>
    <div>
        <PartnersHeaders client:load />
        <Partners client:visible />
        <PartnersIntegratesWith client:visible />
        <PartnersBetterTogether client:visible />
        <PartnersPerksAndBenefits client:visible />
        <PartnersBecomeAPartner client:only="vue" />
    </div>
</Layout>
