---
import cloudVisual from "./images/cloud_visual.png"
---

<div class="container mt-5 pt-5 text-center">
    <img src={cloudVisual.src} class="d-lg-none flip" alt="Kestra Cloud" />
    <h5 class="highlight">Exclusive Access to Kestra Cloud</h5>
    <h1>Fully Managed Orchestration<br />Simplified</h1>
</div>

<style scoped lang="scss">
    .flip {
        width: 200px;
        transform: scaleX(-1);
    }
</style>
