---
import Layout from '~/components/layout.astro';
import CommunityHeader from '~/components/community/Header.vue';
import CommunitySlack from '~/components/community/Slack.vue';
import CommunityVue from '~/components/community/Community.vue';
import CommunityGuidelines from '~/components/community/Guidelines.vue';
import CommunityContributors from '~/components/community/Contributors.vue';
import LayoutFooterContact from '~/components/layout/FooterContact.vue';

const title = "Join a Thrilling Community of Data Enthusiasts";
const description = "Connect with a vibrant community of data enthusiasts to learn, collaborate, and contribute to the evolution of data orchestration.";
---

<Layout title={title} description={description}>
    <div>
        <CommunityHeader client:load />
        <CommunitySlack client:visible />
        <CommunityVue client:visible />
        <CommunityGuidelines client:visible />
        <CommunityContributors client:visible />
        <LayoutFooterContact
            client:visible
            title="Getting started"
            subtitle="Start building with Kestra — Automate Everything Everywhere All at Once."
            darkButtonText="Read the docs"
            purpleButtonText="Get started!"
        />
    </div>
</Layout>
