---
import Layout from "~/components/layout.astro"
import ContactHeader from "~/components/contact/Header.vue"
import CommunitySlack from "~/components/community/Slack.vue"
import { $fetchApi } from "~/utils/fetch"

const title = "Get in Touch With the Team"
const description =
    "Connect with our team for any questions or inquiries you may have. We're eager to assist you and provide the information you need about Kestra"
---

<Layout title={title} description={description}>
    <div>
        <ContactHeader client:idle />
        <CommunitySlack />
    </div>
</Layout>
