---
import Layout from "~/components/layout.astro"
import Header from "~/components/contact/Header.vue"
import Slack from "~/components/common/Slack.astro"

const title = "Get in Touch With the Team"
const description =
    "Connect with our team for any questions or inquiries you may have. We're eager to assist you and provide the information you need about Kestra"
---

<Layout title={title} description={description}>
    <div>
        <Header client:idle />
        <Slack />
    </div>
</Layout>
