---
import Layout from "~/components/layout.astro"
import Meeting from "~/components/demo/Meeting.vue"
import headerBackground from "../components/demo/assets/header-background.png"

const title = "Book a Demo"
const description = "Discuss your Orchestration Strategy"
---

<Layout title={title} description={description}>
    <div class="demo">
        <div class="demo-left">
            <h1>Discuss your <span>Orchestration</span> Strategy</h1>
            <p class="subtitle">Your Architecture is Unique.</p>
            <p class="subtitle">Your Challenges are Specific.</p>
            <ul class="list">
                <li>
                    <b>Your Pains:</b> Are you struggling with unreliable pipelines,
                    legacy fatigue, or lack of visibility?
                </li>
                <li>
                    <b>Your Needs:</b> We’ll discuss your requirements for security,
                    scale, and language agnostic support.
                </li>
                <li>
                    <b>The Resolution:</b> See exactly how Kestra’s architecture resolves
                    these friction points in your stack.
                </li>
            </ul>
            <p class="shadow-card">
                Get a clear understanding of how Kestra fits your platform and a
                roadmap to solve your current orchestration headaches.
            </p>
        </div>
        <Meeting routePath="/demo" headerBackground={headerBackground} />
    </div>
</Layout>
