---
import FeaturesHeader from '~/components/features/Header.vue';
import LazyFeaturesDeclarative from '~/components/features/Declarative.vue';
import LazyFeaturesOutBox from '~/components/features/OutBox.vue';
import LazyFeaturesExperience from '~/components/features/Experience.vue';
import LazyFeaturesFeatureEnterprise from '~/components/features/FeatureEnterprise.vue';
import LazyFeaturesCTA from '~/components/features/CTA.vue';
import Layout from '../components/layout.astro';
import PluginsBox from '../components/PluginsBox.astro';
---
<Layout>
    <div class="features">
        <FeaturesHeader />
        <LazyFeaturesDeclarative />
        <LazyFeaturesOutBox />
        <section class="features-plugins">
            <div class="container">
                <PluginsBox />
            </div>
        </section>
        <LazyFeaturesExperience />
        <LazyFeaturesFeatureEnterprise />
        <LazyFeaturesCTA />
    </div>
</Layout>

<style lang="scss" scoped>
    @import "../../assets/styles/variable";
    .features-plugins {
        background: linear-gradient(180deg, #E8EAF2 74.52%, #FFFFFF 74.52%);
        padding: 2rem 1rem;
        margin-top: -2rem;

        @include media-breakpoint-up(lg) {
            padding: 6rem;
        }
        text-align: center;

        .container {
            margin-bottom: 3rem;
        }
    }
</style>