---
import Layout from "~/components/layout.astro"
import EnterpriseSection from "~/components/home/EnterpriseSection.astro"
import BlueprintsRender from "~/components/common/BlueprintsRender.astro"
import CTA from "~/components/common/CTA.astro"
import PluginsBox from "~/components/common/PluginsBox.astro"
import { $fetchApi } from "~/utils/fetch"

const blueprints = await $fetchApi<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?page=1&size=20",
)
---

<Layout headerTheme="darkHeader">
    <div class="home-page">
        <PluginsBox />
        <BlueprintsRender blueprints={blueprints.results} />
        <EnterpriseSection />
        <CTA />
    </div>
</Layout>

<style lang="scss">
    .home-page {
        background-color: #0a0b0d;
        margin-top: -2rem;
    }
</style>
