---
import Layout from "~/components/layout.astro"
import Hero from "~/components/home/Hero.astro"
import LogoBar from "~/components/home/LogoBar.astro"
import Comparison from "~/components/home/Comparison.astro"
import AdoptBanner from "~/components/home/AdoptBanner.astro"
import PlatformOverview from "~/components/home/PlatformOverview.astro"
import UseCaseGrid from "~/components/home/UseCaseGrid.astro"
import Integrations from "~/components/home/Integrations.astro"
import Testimonial from "~/components/home/Testimonial.astro"
import DeploySection from "~/components/home/DeploySection.astro"
import Blueprints from "~/components/home/Blueprints.astro"
import CTA from "~/components/common/CTA.astro"
import { $fetchApi } from "~/utils/fetch"
import Stacked from "~/components/common/Stacked.astro"

// const blueprints = await $fetchApi<{ results: Blueprint[] }>(
//     "/blueprints/versions/latest?page=1&size=20",
// )
---

<Layout headerTheme="darkHeader">
    <div class="home-page">
        <!-- <Hero />
        <LogoBar />
        <Comparison />
        <AdoptBanner />
        <Stacked />
        <PlatformOverview />
        <UseCaseGrid /> -->
        <Integrations />
        <!-- <Testimonial />
        <DeploySection />
        <Blueprints />
        <CTA /> -->
    </div>
</Layout>

<style lang="scss">
    /* since the home page will mostly follow its own theme,
     * we need to define some of the colors here. */
    .home-page {
        --hp-background-dark: #0a0b0d;
        --hp-content-dark: #ffffff;
        --hp-content-primary: #131316;
        --hp-background-secondary: #f7f7f7;
        --hp-content-secondary: #3b3a41;
        --hp-background-tertiary: #7f7f86;
        --hp-content-tertiary: #94a3b8;
        --hp-border-primary: #f1f1f1;
        --hp-border-secondary: #cccbce;
        --hp-content-color-highlight: #631bff;
        --hp-background-purple-light: #f1efff;
        background-color: var(--hp-background-dark);
        color: var(--hp-content-dark);
        overflow: clip;
        margin-top: var(--announce-height);
    }
</style>
