---
import Layout from "~/components/layout.astro"
import Hero from "~/components/home/Hero.astro"
import LogoBar from "~/components/home/LogoBar.astro"
import Comparison from "~/components/home/Comparison.astro"
import Stacked from "~/components/common/Stacked.astro"
import PlatformOverview from "~/components/home/PlatformOverview.astro"
import UseCaseGrid from "~/components/home/UseCaseGrid.astro"
import Plugins from "~/components/home/Plugins.astro"
import Testimonial from "~/components/home/Testimonial.astro"
import DeploySection from "~/components/home/DeploySection.astro"
import Blueprints from "~/components/home/Blueprints.astro"
import ClosingCTA from "~/components/home/ClosingCTA.astro"
---

<Layout headerTheme="darkHeader">
    <div class="home-page">
        <Hero />
        <LogoBar />
        <Comparison />
        <Stacked>
            <h2 slot="title" id="adopt-heading">
                Adopt Once.<br />
                <span>Standardize Everywhere.</span>
            </h2>

            <div slot="description"></div>
        </Stacked>
        <PlatformOverview />
        <UseCaseGrid />
        <Plugins />
        <Testimonial />
        <DeploySection />
        <Blueprints />
        <ClosingCTA />
    </div>
</Layout>

<style lang="scss">
    /* since the home page will mostly follow its own theme,
     * we need to define some of the colors here. */
    .home-page {
        --hp-background-dark: #0a0b0d;
        --hp-content-dark: #ffffff;
        --hp-content-primary: #131316;
        --hp-background-secondary: #f7f7f7;
        --hp-content-secondary: #3b3a41;
        --hp-background-tertiary: #7f7f86;
        --hp-content-tertiary: #94a3b8;
        --hp-border-primary: #f1f1f1;
        --hp-border-secondary: #cccbce;
        --hp-content-color-highlight: #631bff;
        --hp-background-purple-light: #f1efff;
        background-color: var(--hp-background-dark);
        color: var(--hp-content-dark);
        overflow: clip;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: var(--ks-content-primary);
        width: 700px;
        margin-inline: auto;

        span {
            color: var(--ks-content-color-highlight);
        }
    }
</style>
