---
import Layout from "~/components/layout.astro"
import QuotesVue from "~/components/common/Quotes.vue"

const quotes = [
    {
        quote: "We switched from Airflow because we want engineers solving problems, not coding orchestration. Kestra delivers end-to-end automation with the robustness we need at our scale. Few companies operate at this level, especially in AI/ML.",
        author: "Senior Engineering Manager @ <strong>Apple</strong> (ML team)",
        smallLogoSvg: `<svg width="32" height="37" viewBox="0 0 32 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_23441_1660)">
<path d="M31.3293 28.8342C30.7548 30.1269 30.0748 31.3168 29.2868 32.4108C28.2128 33.9022 27.3334 34.9345 26.6557 35.5077C25.6052 36.4487 24.4796 36.9306 23.2742 36.958C22.4089 36.958 21.3654 36.7182 20.1507 36.2317C18.932 35.7475 17.812 35.5077 16.7879 35.5077C15.7139 35.5077 14.562 35.7475 13.33 36.2317C12.096 36.7182 11.102 36.9717 10.342 36.9968C9.18611 37.0448 8.034 36.5492 6.88401 35.5077C6.15002 34.8842 5.23195 33.8154 4.13214 32.3012C2.95213 30.6842 1.982 28.8091 1.22198 26.6714C0.408032 24.3624 0 22.1265 0 19.9618C0 17.4822 0.550139 15.3436 1.65206 13.5514C2.51807 12.1119 3.67017 10.9763 5.11212 10.1427C6.55407 9.3091 8.11209 8.8843 9.78995 8.85712C10.708 8.85712 11.9119 9.1337 13.4081 9.67727C14.9 10.2227 15.8579 10.4992 16.2779 10.4992C16.5919 10.4992 17.656 10.1758 19.4601 9.5311C21.1661 8.93318 22.6059 8.6856 23.7854 8.78313C26.9817 9.03435 29.383 10.2615 30.9799 12.4723C28.1214 14.1592 26.7073 16.5218 26.7355 19.5528C26.7612 21.9136 27.6406 23.8782 29.3689 25.4381C30.1521 26.1621 31.0268 26.7216 32 27.119C31.789 27.7151 31.5662 28.2861 31.3293 28.8342ZM23.9988 0.740211C23.9988 2.59063 23.3047 4.31837 21.9212 5.91754C20.2515 7.81864 18.232 8.91719 16.042 8.74384C16.0141 8.52185 15.9979 8.28821 15.9979 8.04269C15.9979 6.26629 16.7919 4.36519 18.202 2.81078C18.9059 2.02375 19.8013 1.36935 20.887 0.847324C21.9704 0.333085 22.9952 0.0486998 23.959 0C23.9871 0.247373 23.9988 0.494785 23.9988 0.740211Z" fill="#131316"/>
</g>
<defs>
<clipPath id="clip0_23441_1660">
<rect width="32" height="37" />
</clipPath>
</defs>
</svg>
`,
    },
    {
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        author: "John Doe, CEO @ <em>Fila</em>",
        smallLogoSvg: `<svg width="87" height="30" viewBox="0 0 87 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.6243 0.817767C23.7671 0.817767 25.5044 2.55447 25.5044 4.6975C25.5044 6.84094 23.7671 8.57767 21.6243 8.57767H3.88017C1.73716 8.57767 0 6.84094 0 4.6975C0 2.55447 1.73716 0.817767 3.88017 0.817767H21.6243Z" fill="#131316"/>
<path d="M19.8408 10.9846C21.9838 10.9846 23.7209 12.7215 23.7209 14.8648C23.7209 17.0076 21.9838 18.7445 19.8408 18.7445H9.74134C8.88006 18.7476 8.17488 19.429 8.14192 20.2817V25.3387C8.14192 27.4815 6.40477 29.2185 4.26241 29.2185C2.11938 29.2185 0.38224 27.4815 0.38224 25.3387V16.7328C0.38224 13.5584 2.95568 10.9846 6.13018 10.9846H19.8408Z" fill="#131316"/>
<path d="M27.2663 3.88C27.2663 1.73721 29.0034 0 31.1462 0C33.2895 0 35.0264 1.73721 35.0264 3.88V25.3661C35.0264 27.5091 33.2895 29.2462 31.1462 29.2462C29.0034 29.2462 27.2663 27.5091 27.2663 25.3661V3.88Z" fill="#131316"/>
<path d="M75.0207 21.5504L76.5801 21.5464C76.8987 21.5464 77.1572 21.2876 77.1572 20.9692C77.1586 20.8882 77.1452 20.8161 77.1163 20.748L71.3185 11.0053L62.2609 26.6887C61.5614 27.9014 60.305 28.5932 59.0011 28.6279C58.9628 28.6332 58.9241 28.6361 58.8836 28.6361H44.1432C40.9684 28.6361 38.395 26.0625 38.395 22.8881V3.88C38.395 1.73721 40.1322 0 42.2752 0C44.4178 0 46.1552 1.73721 46.1552 3.88V19.2763C46.1579 20.1381 46.839 20.8435 47.6923 20.8758H55.9379C56.1502 20.8106 56.7986 20.59 56.9962 20.283L67.3533 2.35401C68.1392 1.00467 69.6011 0.0961216 71.2745 0.0961216C72.9487 0.0961216 74.411 1.00601 75.1933 2.35823L85.2856 19.3026C86.0369 20.281 86.4837 21.505 86.4837 22.8336C86.4837 26.0383 83.8857 28.6361 80.6814 28.6361H68.9172C66.9599 28.6361 65.3743 27.0496 65.3743 25.0928C65.3743 23.1365 66.9599 21.5504 68.9172 21.5504H75.0207Z" fill="#131316"/>
</svg>
`,
    },
]
---

<Layout>
    <div class="container">
        <QuotesVue quotes={quotes} client:load />
    </div>
</Layout>
