---
import Layout from "~/components/layout.astro"
import QuotesVue from "~/components/common/Quotes.vue"
import apple from "~/assets/companies/apple.png"

const quotes = [
    {
        quote: "We switched from Airflow because we want engineers solving problems, not coding orchestration. Kestra delivers end-to-end automation with the robustness we need at our scale. Few companies operate at this level, especially in AI/ML.",
        author: "Senior Engineering Manager @ <strong>Apple</strong> (ML team)",
        smallLogoSvg: `<svg width="32" height="37" viewBox="0 0 32 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_23441_1660)">
<path d="M31.3293 28.8342C30.7548 30.1269 30.0748 31.3168 29.2868 32.4108C28.2128 33.9022 27.3334 34.9345 26.6557 35.5077C25.6052 36.4487 24.4796 36.9306 23.2742 36.958C22.4089 36.958 21.3654 36.7182 20.1507 36.2317C18.932 35.7475 17.812 35.5077 16.7879 35.5077C15.7139 35.5077 14.562 35.7475 13.33 36.2317C12.096 36.7182 11.102 36.9717 10.342 36.9968C9.18611 37.0448 8.034 36.5492 6.88401 35.5077C6.15002 34.8842 5.23195 33.8154 4.13214 32.3012C2.95213 30.6842 1.982 28.8091 1.22198 26.6714C0.408032 24.3624 0 22.1265 0 19.9618C0 17.4822 0.550139 15.3436 1.65206 13.5514C2.51807 12.1119 3.67017 10.9763 5.11212 10.1427C6.55407 9.3091 8.11209 8.8843 9.78995 8.85712C10.708 8.85712 11.9119 9.1337 13.4081 9.67727C14.9 10.2227 15.8579 10.4992 16.2779 10.4992C16.5919 10.4992 17.656 10.1758 19.4601 9.5311C21.1661 8.93318 22.6059 8.6856 23.7854 8.78313C26.9817 9.03435 29.383 10.2615 30.9799 12.4723C28.1214 14.1592 26.7073 16.5218 26.7355 19.5528C26.7612 21.9136 27.6406 23.8782 29.3689 25.4381C30.1521 26.1621 31.0268 26.7216 32 27.119C31.789 27.7151 31.5662 28.2861 31.3293 28.8342ZM23.9988 0.740211C23.9988 2.59063 23.3047 4.31837 21.9212 5.91754C20.2515 7.81864 18.232 8.91719 16.042 8.74384C16.0141 8.52185 15.9979 8.28821 15.9979 8.04269C15.9979 6.26629 16.7919 4.36519 18.202 2.81078C18.9059 2.02375 19.8013 1.36935 20.887 0.847324C21.9704 0.333085 22.9952 0.0486998 23.959 0C23.9871 0.247373 23.9988 0.494785 23.9988 0.740211Z" fill="currentColor"/>
</g>
<defs>
<clipPath id="clip0_23441_1660">
<rect width="32" height="37" />
</clipPath>
</defs>
</svg>
`,
    },
    {
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        author: "John Doe, CEO @ <em>Fila</em>",
        smallLogoSvg: `<svg width="87" height="30" viewBox="0 0 87 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.6243 0.817767C23.7671 0.817767 25.5044 2.55447 25.5044 4.6975C25.5044 6.84094 23.7671 8.57767 21.6243 8.57767H3.88017C1.73716 8.57767 0 6.84094 0 4.6975C0 2.55447 1.73716 0.817767 3.88017 0.817767H21.6243Z" fill="currentColor"/>
<path d="M19.8408 10.9846C21.9838 10.9846 23.7209 12.7215 23.7209 14.8648C23.7209 17.0076 21.9838 18.7445 19.8408 18.7445H9.74134C8.88006 18.7476 8.17488 19.429 8.14192 20.2817V25.3387C8.14192 27.4815 6.40477 29.2185 4.26241 29.2185C2.11938 29.2185 0.38224 27.4815 0.38224 25.3387V16.7328C0.38224 13.5584 2.95568 10.9846 6.13018 10.9846H19.8408Z" fill="currentColor"/>
<path d="M27.2663 3.88C27.2663 1.73721 29.0034 0 31.1462 0C33.2895 0 35.0264 1.73721 35.0264 3.88V25.3661C35.0264 27.5091 33.2895 29.2462 31.1462 29.2462C29.0034 29.2462 27.2663 27.5091 27.2663 25.3661V3.88Z" fill="currentColor"/>
<path d="M75.0207 21.5504L76.5801 21.5464C76.8987 21.5464 77.1572 21.2876 77.1572 20.9692C77.1586 20.8882 77.1452 20.8161 77.1163 20.748L71.3185 11.0053L62.2609 26.6887C61.5614 27.9014 60.305 28.5932 59.0011 28.6279C58.9628 28.6332 58.9241 28.6361 58.8836 28.6361H44.1432C40.9684 28.6361 38.395 26.0625 38.395 22.8881V3.88C38.395 1.73721 40.1322 0 42.2752 0C44.4178 0 46.1552 1.73721 46.1552 3.88V19.2763C46.1579 20.1381 46.839 20.8435 47.6923 20.8758H55.9379C56.1502 20.8106 56.7986 20.59 56.9962 20.283L67.3533 2.35401C68.1392 1.00467 69.6011 0.0961216 71.2745 0.0961216C72.9487 0.0961216 74.411 1.00601 75.1933 2.35823L85.2856 19.3026C86.0369 20.281 86.4837 21.505 86.4837 22.8336C86.4837 26.0383 83.8857 28.6361 80.6814 28.6361H68.9172C66.9599 28.6361 65.3743 27.0496 65.3743 25.0928C65.3743 23.1365 66.9599 21.5504 68.9172 21.5504H75.0207Z" fill="currentColor"/>
</svg>
`,
    },
    {
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. bis",
        author: "Bill Doe, Director @ <strong>Bloomberg</strong>",
        smallLogoSvg: `<svg width="169" height="31" viewBox="0 0 169 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_23088_26309" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="169" height="31">
<path d="M168.14 0.799805H0.430176V30.5598H168.14V0.799805Z" fill="white"/>
</mask>
<g mask="url(#mask0_23088_26309)">
<path d="M0.430176 0.799805H12.7159C15.056 0.799805 16.8112 1.35781 18.1112 2.28781C19.5414 3.40381 20.3214 5.01581 20.3214 6.99981C20.3214 9.29381 19.3463 10.7198 17.3962 11.5878V11.7118C19.9964 12.5178 21.4914 14.7498 21.4914 17.4158C21.4914 19.9578 20.4514 21.9418 18.7613 23.1818C17.3312 24.1738 15.511 24.6078 13.0409 24.6078H0.430176V0.799805ZM11.4808 10.0998C12.7809 10.0998 13.756 9.41781 13.756 7.99181C13.756 6.62781 12.7809 5.94581 11.4158 5.94581H7.19058V10.0378H11.4808V10.0998ZM12.0659 19.3378C13.561 19.3378 14.666 18.4698 14.666 16.9198C14.666 15.2458 13.4959 14.5018 12.0659 14.5018H7.25557V19.3998H12.0659V19.3378Z" fill="currentColor"/>
<path d="M22.5962 0.799805H29.0316V24.6698H22.5962V0.799805Z" fill="currentColor"/>
<path d="M30.332 16.176C30.332 10.782 33.9722 7.18604 39.6275 7.18604C45.283 7.18604 48.8582 10.844 48.8582 16.176C48.8582 21.57 45.283 25.166 39.6275 25.166C33.9722 25.166 30.332 21.57 30.332 16.176ZM42.4228 16.176C42.4228 13.2 41.4477 11.34 39.4976 11.34C37.5474 11.34 36.6374 13.2 36.6374 16.176C36.6374 19.152 37.5474 21.074 39.4976 21.074C41.4477 21.012 42.4228 19.152 42.4228 16.176Z" fill="currentColor"/>
<path d="M49.5732 16.176C49.5732 10.782 53.2134 7.18604 58.8688 7.18604C64.5241 7.18604 68.0342 10.782 68.0342 16.176C68.0342 21.57 64.459 25.166 58.8037 25.166C53.2134 25.166 49.5732 21.57 49.5732 16.176ZM61.664 16.176C61.664 13.2 60.6888 11.34 58.7387 11.34C56.7886 11.34 55.8786 13.2 55.8786 16.176C55.8786 19.152 56.7886 21.074 58.7387 21.074C60.6888 21.012 61.664 19.152 61.664 16.176Z" fill="currentColor"/>
<path d="M69.334 7.61953H75.3144V10.1615H75.4444C76.6145 8.17753 78.2395 7.12354 80.8397 7.12354C83.1148 7.12354 84.805 8.17753 85.65 10.0375H85.78C87.2101 7.80553 89.0952 7.12354 91.3054 7.12354C95.4656 7.12354 97.2207 10.0375 97.2207 13.9436V24.6076H90.9803V14.9976C90.9803 13.2616 90.3953 12.1455 88.8352 12.1455C87.2751 12.1455 86.4951 13.5096 86.4951 15.3696V24.6076H80.2547V14.9976C80.2547 13.2616 79.6697 12.1455 78.1096 12.1455C76.5495 12.1455 75.7694 13.5096 75.7694 15.3696V24.6076H69.334V7.61953Z" fill="currentColor"/>
<path d="M105.086 22.3758H105.021V24.6078H99.041V0.799805H105.281V9.35581H105.411C106.581 7.86781 108.206 7.06181 110.482 7.06181C114.967 7.06181 117.567 10.9058 117.567 16.0518C117.567 21.8178 114.772 25.1658 110.092 25.1658C108.141 25.1658 106.126 24.2978 105.086 22.3758ZM111.132 15.9898C111.132 13.2618 110.092 11.4638 108.206 11.4638C106.256 11.4638 105.086 13.2618 105.086 15.9898C105.086 18.7178 106.321 20.5158 108.206 20.5158C110.092 20.5158 111.132 18.7798 111.132 15.9898Z" fill="currentColor"/>
<path d="M118.282 16.1136C118.282 10.7815 121.987 7.12354 127.317 7.12354C129.983 7.12354 131.998 7.92953 133.558 9.35553C135.638 11.2775 136.548 14.2536 136.483 17.7256H124.522C124.782 19.8336 125.822 20.9496 127.707 20.9496C128.812 20.9496 129.788 20.4536 130.178 19.3376H136.223C135.183 23.2436 131.998 25.1656 127.512 25.1656C121.987 25.1036 118.282 21.5076 118.282 16.1136ZM124.522 14.3156H130.242C130.113 12.2695 128.942 11.2155 127.447 11.2155C125.692 11.1535 124.717 12.3315 124.522 14.3156Z" fill="currentColor"/>
<path d="M143.569 10.534H143.699C144.999 8.17805 146.689 7.24805 148.833 7.24805C149.355 7.24805 149.678 7.31005 149.875 7.43405V12.642H149.744C146.039 12.022 143.894 13.696 143.894 17.54V24.67H137.588V7.62005H143.569V10.534Z" fill="currentColor"/>
<path d="M150.525 24.67H156.57C156.829 25.414 157.61 26.096 159.105 26.096C161.12 26.096 161.835 24.918 161.835 23.12V21.88H161.705C160.731 22.996 159.364 23.802 157.415 23.802C153.58 23.802 150.2 21.074 150.2 15.742C150.2 10.844 152.93 7.06201 157.09 7.06201C159.495 7.06201 160.925 7.992 161.901 9.418H162.03V7.558H168.01V22.314C168.01 25.042 167.035 27.15 165.54 28.39C163.98 29.692 161.77 30.25 159.235 30.25C154.425 30.312 151.109 28.452 150.525 24.67ZM162.096 15.494C162.096 13.386 161.054 11.65 159.235 11.65C157.48 11.65 156.375 13.138 156.375 15.494C156.375 17.788 157.48 19.4 159.235 19.4C160.99 19.4 162.096 17.726 162.096 15.494Z" fill="currentColor"/>
</g>
</svg>

`,
        kpis: [
            {
                name: "engineers onboarded",
                value: "200",
            },
            {
                name: "faster workflow creation",
                value: "2x",
            },
            {
                name: "pipeline failures",
                value: "0",
            },
        ],
    },
    {
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ter",
        author: "John Smith, CEO @ <strong>Gravitee</strong>",
        smallLogoSvg: `<svg width="171" height="31" viewBox="0 0 171 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2898 0C6.8455 0.000128757 8.10135e-05 6.84557 0 15.2899C-7.82739e-07 23.7344 6.84534 30.5798 15.2898 30.5798H22.2678V23.0917H32.0086L24.6818 14.5389H14.8926L22.2124 23.0835H15.2898C10.9856 23.0835 7.49644 19.5943 7.49636 15.29C7.49636 10.9858 10.9856 7.4965 15.2898 7.49636C17.4287 7.49644 19.3652 8.35698 20.7743 9.7527L21.3921 10.3648L26.6261 4.99402L26.0142 4.39184C23.2554 1.67671 19.4674 6.49466e-05 15.2898 0Z" fill="currentColor"/>
<path d="M15.2898 0C6.8455 0.000128757 8.10135e-05 6.84557 0 15.2899C-7.82739e-07 23.7344 6.84534 30.5798 15.2898 30.5798H22.2678V23.0917H32.0086L24.6818 14.5389H14.8926L22.2124 23.0835H15.2898C10.9856 23.0835 7.49644 19.5943 7.49636 15.29C7.49636 10.9858 10.9856 7.4965 15.2898 7.49636C17.4287 7.49644 19.3652 8.35698 20.7743 9.7527L21.3921 10.3648L26.6261 4.99402L26.0142 4.39184C23.2554 1.67671 19.4674 6.49466e-05 15.2898 0Z" fill="currentColor"/>
<path d="M155.619 7.34717H170.354V9.20564H159.131C158.34 9.20564 157.699 9.84659 157.699 10.6372V12.6636C157.699 13.4543 158.34 14.0952 159.131 14.0952H169.093V15.9537H159.131C158.34 15.9537 157.699 16.5947 157.699 17.3853V19.9426C157.699 20.7334 158.34 21.3742 159.131 21.3742H170.354V23.2329H155.619V7.34717Z" fill="currentColor"/>
<path d="M137.758 7.34717H152.493V9.20564H141.269C140.479 9.20564 139.838 9.84659 139.838 10.6372V12.6636C139.838 13.4543 140.479 14.0952 141.269 14.0952H151.232V15.9537H141.269C140.479 15.9537 139.838 16.5947 139.838 17.3853V19.9426C139.838 20.7334 140.479 21.3742 141.269 21.3742H152.493V23.2329H137.758V7.34717Z" fill="currentColor"/>
<path d="M135.152 9.20564H129.083C128.293 9.20564 127.652 9.84659 127.652 10.6372V23.2329H125.528V10.6372C125.528 9.84659 124.887 9.20564 124.096 9.20564H118.027V7.34717H135.152V9.20564Z" fill="currentColor"/>
<path d="M115.413 7.34717V23.2329H113.289V7.34717H115.413Z" fill="currentColor"/>
<path d="M102.747 23.2329H100.314L91.9727 7.34717H94.2516L100.708 19.6338C101.066 20.3144 102.04 20.3144 102.398 19.6338L108.854 7.34717H111.111L102.747 23.2329Z" fill="currentColor"/>
<path d="M84.2401 7.34717H86.5631L94.9042 23.2329H92.6475L90.3465 18.8299H80.4568L78.1336 23.2329H75.877L84.2401 7.34717ZM86.2553 11.0322C85.8984 10.352 84.9248 10.3509 84.5663 11.0303L82.1692 15.5715C81.8336 16.2071 82.2944 16.9715 83.0132 16.9715H87.7942C88.5119 16.9715 88.9728 16.209 88.6391 15.5735L86.2553 11.0322Z" fill="currentColor"/>
<path d="M61.3447 16.5732V23.2329H59.2207V7.34717H69.1548C72.4734 7.34717 74.7745 8.91803 74.7745 11.9491C74.7745 14.4935 73.093 16.0643 70.5266 16.4626L75.1064 23.2329H72.6727L68.2034 16.5732H61.3447ZM61.3447 13.7824C61.3447 14.3096 61.772 14.7368 62.299 14.7368H69.0441C71.3009 14.7368 72.6948 13.7412 72.6948 11.9491C72.6948 10.157 71.3009 9.18351 69.0441 9.18351H62.299C61.772 9.18351 61.3447 9.61081 61.3447 10.1379V13.7824Z" fill="currentColor"/>
<path d="M47.3009 7.104C51.416 7.104 54.4471 9.1395 55.5755 12.237L53.7834 13.1883C52.832 10.5997 50.5753 9.00674 47.3009 9.00674C43.1193 9.00674 40.1545 11.529 40.1545 15.2681C40.1545 19.0293 43.097 21.5737 47.2123 21.5737C50.1292 21.5737 52.6603 20.2829 53.5302 18.2726C53.8511 17.5308 53.1807 16.8389 52.3723 16.8389H46.0618V14.9805H53.3444C54.6622 14.9805 55.7304 16.0487 55.7304 17.3664V23.2331H53.7391V20.4675C52.7656 22.1488 50.3319 23.4542 47.2123 23.4763C41.8803 23.4763 37.9863 20.0469 37.9863 15.2681C37.9863 10.4891 41.9466 7.104 47.3009 7.104Z" fill="currentColor"/>
</svg>
`,
        storyLink: "https://kestra.io/case-studies/airflow-to-kestra-apple-ml",
        bigLogoSrc: apple.src,
    },
]
---

<Layout>
    <div class="container" style="margin: 8rem auto;">
        <QuotesVue quotes={quotes} client:load />
    </div>
</Layout>
