<section aria-labelledby="adopt-heading">
    <h2 id="adopt-heading">
        Adopt Once.<br />
        <span>Standardize Everywhere.</span>
    </h2>
</section>

<style lang="scss">
    section {
        padding: 4rem 2rem;
        background-color: white;
        color: var(--hp-content-primary);
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: black;
        width: 700px;
        margin-inline: auto;

        span {
            color: var(--hp-content-color-highlight);
        }
    }
</style>
