---
import { $fetchApi } from "~/utils/fetch"
import BlueprintsCarousel from "../common/BlueprintsCarousel.astro"
import Link from "~/components/common/Link.astro"
import { randomSortFunction } from "~/utils/random"

const { results } = await $fetchApi<{ results: Blueprint[] }>(
    "/blueprints/versions/latest?page=1&size=50",
)

const blueprints = results
    .sort(randomSortFunction)
    .slice(0, 20)
---

<section aria-labelledby="blueprints">
    <div class="container">
        <div class="content">
            <div class="title-block">
                <h2 id="blueprints">
                    <span>250+ Blueprints,</span> Ready to Build.
                </h2>
                <p>
                    Jump-start your workflows with a growing library of workflow
                    templates
                </p>
            </div>
            <Link
                href="/blueprints"
                class="btn btn-secondary"
                data-usal="zoomin"
            >
                Explore Blueprints
            </Link>
        </div>
    </div>
    <BlueprintsCarousel blueprints={blueprints} />
</section>

<style lang="scss">
    section {
        background-color: var(--ks-background-body);
        color: var(--ks-content-primary);
        text-align: left;
        padding: 2rem 0;
        @include media-breakpoint-up(md) {
            padding: 4rem 1rem;
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
        }

        .btn-secondary {
            white-space: nowrap;
        }
    }
    h2 {
        font-size: 2rem;
        margin-inline: 1rem;
        span {
            color: var(--ks-content-color-highlight);
        }
    }
    p {
        margin-bottom: 0;
        margin-inline: 1rem;
        color: var(--ks-content-secondary);
    }
</style>
