---
import LegacyApproachIcon from "./assets/comparison/legacy-approach.svg"
import KestraWayAnimation from "./assets/comparison/kestra-way-animated.astro"
import SixtySeconds from "./SixtySeconds.astro"
---

<section aria-labelledby="comparison-heading">
    <h2 id="comparison-heading">
        Most Orchestrators Are Built for One Team.
        <span>Kestra is Built for the Whole Organization.</span>
    </h2>
    <div role="region" aria-label="Comparison table" class="comparison">
        <div class="legacy-approach" aria-label="Legacy approach">
            <h3>The Legacy approach</h3>
            <LegacyApproachIcon class="legacy-approach-image" />
            <span>Fragile Glue Code</span>
        </div>

        <KestraWayAnimation class="kestra-way-image" />
    </div>
    <p class="caption">
        Kestra scales because it is designed for cross-team orchestration from
        day one.
    </p>
    <SixtySeconds />
</section>

<style lang="scss">
    section {
        padding: 5rem 2rem;
        background-color: white;
        color: var(--hp-content-primary);
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: black;
        margin-inline: auto;
        span {
            color: var(--hp-content-color-highlight);
        }
        @include media-breakpoint-up(md) {
            width: 700px;
        }
    }

    .comparison {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
        margin-inline: auto;

        @include media-breakpoint-up(md) {
            display: grid;
            max-width: 1200px;
            grid-template-columns: 1fr 1fr;
        }

        h3 {
            color: var(--hp-content-primary);
            font-size: 1.25rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        span {
            font-size: 0.825rem;
            color: var(--hp-content-tertiary);
            margin-bottom: 3rem;
        }

        .legacy-approach {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--hp-background-secondary);
            border: 1px solid var(--hp-border-secondary);
            border-radius: 0.5rem;
            height: 396px;
        }

        .legacy-approach-image {
            height: 210px;
            width: auto;
        }
        .kestra-way {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .kestra-way-image {
            width: auto;
            height: 396px;
            border-radius: 0.5rem;
        }
    }

    .caption {
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .btn-primary {
        margin-top: 1.5rem;
    }
</style>
