$primary: #8405FF;
$secondary: #C182FF;

$white: #fff;
$gray-100: #f8f8fc;
$gray-200: #f1f5fa;
$gray-300: #eaf0f9;
$gray-400: #b6c2e4;
$gray-500: #8997bd;
$gray-600: #7081b9;
$gray-700: #303e67;
$gray-800: #2c3652;
$gray-900: #1d2c48;
$black: #26282D;


$blue: #1761FD;
$indigo: #8405FF;
$purple: #9F9DFF;
$pink: #FD3C97;
$red: #E36065;
$orange: #FCB37C;
$yellow: #FCE07C;
$green: #03DABA;
$teal: #03D87F;
$cyan: #60C5FE;


$font-family-sans-serif: "Public Sans", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$body-color: #000000;
$body-tertiary-color: #FFFFFF;
$body-tertiary-bg: #785EEA;

$link-decoration: none;


// border
$border-radius: .1875rem;
$border-radius-sm: .125rem;
$border-radius-lg: .25rem;

// shadow
$box-shadow-lg: 0px 12.972px 39.7269px rgba(90, 0, 176, 0.1);


// nav
$nav-pills-border-radius: 50rem;


// accordiion
$accordion-icon-color: $white;
$accordion-icon-active-color: $white;

// purples
$purple-1: #382369;
$purple-2: #FBC7F4;
$purple-3: #9580EE;
$purple-4: linear-gradient(160.34deg, rgba(130, 0, 255, 0.12) 5.3%, rgba(130, 0, 255, 0) 75.43%), #201838;
$purple-5: #362762;
$purple-6: #6113BC;
$purple-7: #1A1223;
$purple-8: #EEEDFF;
$purple-9: 0px 12.972px 39.7269px rgba(90, 0, 176, 0.1);
$purple-10: #150E1C;
$purple-11: #332C3B;
$purple-12: #432A71;
$purple-13: #9124FA;
$purple-14: #AA50FF;
$purple-15: #9022FA;
$purple-16: #281A35;
$purple-17: #9327FB;
$purple-18: #AA50FF;
$purple-19: conic-gradient(from 90deg at 50% 50%, #BE79FF 0deg, #7136F6 360deg);
$purple-20: #291E39;
$purple-21: #A42DCD;
$purple-22: #FCF7FE;
$purple-23: #EDE8F3;
$purple-24: #15023F;

$enable-reduced-motion: false;
$min-contrast-ratio: 2.5;

// bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

