@import "variable";

body {
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
}

:root {
    --#{$prefix}font-size-lg: #{$font-size-lg};
    --#{$prefix}font-size-sm: #{$font-size-sm};
}

@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        .container-min {
            min-width: $container-max-width;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-weight: 900
}


h2 {
    font-weight: 800
}

// bootstrap
table.table {
    thead {
        border-bottom: 2px solid var(--bs-black);
    }
}

.alert {
    > *:last-child {
        margin-bottom: 0;
    }
}

blockquote.blockquote {
    border-left: 4px solid var(--bs-gray-500);
    padding-left: $spacer;
    color: var(--bs-gray-500);
    font-size: 1rem;
}

// component
.hero {
    padding-top: calc($spacer * 8);
    padding-bottom: calc($spacer * 6);

    h1, p {
        max-width: $baseline-max-width;
    }

    &.text-center {
        max-width: none;

        h1, p {
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 3.25rem;
        padding-bottom: 1.5rem;
    }

    p.baseline {
        font-size: $font-size-xl;
        padding-bottom: 1.5rem;
    }

    p.overline {
        font-family: var(--bs-font-monospace);
        font-size: $font-size-xl;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .btn-secondary {
        background: #7977F7;
    }

    .dot {
        color: $pink;
        font-family: var(--bs-font-monospace);
        font-size: 52px;
    }

    .cta {
        padding-bottom: calc($spacer * 4);
    }
}

.card {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow;
}

.card-group {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    .card {
        height: 100%;
        border-radius: $border-radius-lg;
        box-shadow: $box-shadow;
    }

    &.card-centered {
        text-align: center;
        background: url("/landing/shadow.svg") no-repeat center center;
        justify-content: center;

        .card-icon {
            display: block;
            float: none;
            margin: 0 auto $spacer;
        }
    }

    &.no-shadow {
        background: none;
    }
}

.card {
    border-color: transparent;

    .card-icon {
        width: 60px;
        height: 60px;
        background-color: $primary;
        border-radius: $border-radius-lg;
        color: var(--bs-white);
        text-align: center;
        display: flex;
        font-size: 2.5rem;
        float: left;
        margin-right: $spacer;
        align-items: center;
        justify-content: center;
        margin-bottom: $spacer;

        .material-design-icon {
            margin-top: -10px;
        }
    }

    h5.card-title {
        color: $purple-1;
        font-size: $h4-font-size;
    }

    p.card-text {
        clear: left;
    }
}


.scroller {
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        background: var(--bs-gray-300);
    }
}

.type-mark {
    background-color: var(--bs-secondary);
    border-radius: var(--bs-border-radius);
    color: var(--bs-white);
    font-size: $font-size-sm;
}

.baseline-max-width {
    max-width: $baseline-max-width;
}

