$bd-gutter-x: 3rem;
@import "variable";


.bd-gutter {
    --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {

    &.margin {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: $grid-gutter-width;
        &.margin {
            margin-top: 4.5rem;
        }
    }

}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-content, .bd-main > div.bd-title > h1 {
    max-width: 700px;
    margin: 0 auto;
}

.bd-main {
    margin-bottom: 90px;
    grid-area: main;

    h1 {
        padding-bottom: 1.5rem;
        font-size: $h2-font-size;
    }

    h2 {
        padding-top: 1.5rem;
        font-size: $h3-font-size;
    }

    h3 {
        padding-top: 1.25rem;
        font-size: $h4-font-size;
    }

    h4 {
        padding-top: 1rem;
        font-size: $h5-font-size;
    }

    h5 {
        padding-top: .75rem;
        font-size: $h6-font-size;
    }

    h6 {
        padding-top: .5rem;
        font-weight: 900;
        font-size: $font-size-base;
    }

    @include media-breakpoint-down(lg) {
        h1 {
            font-size: $h4-font-size;
        }
        h2 {
            font-size: $h5-font-size;
        }
        h3 {
            font-size: $h6-font-size;
        }
        h4 {
            font-size: $font-size-base;
        }
        h5 {
            font-size: $font-size-sm;
        }
        h6 {
            font-size: $font-size-xs;
        }
    }

    @include media-breakpoint-down(lg) {
        max-width: 760px;
        margin-inline: auto;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas:
      "intro"
      "toc"
      "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit;
    }

    @include media-breakpoint-up(lg) {
        grid-template-areas:
      "intro   toc"
      "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr;
    }

    &.full {
        grid-template-columns: auto;
        max-width: none;
        .bd-toc {
            display: none;
        }

        .bd-content {
            max-width: none;
            width: 100%;
        }

        h1 {
            margin: 0;

            @include media-breakpoint-up(xxl) {
                margin-left: 3.5rem;
            }
        }
    }
}

.bd-intro {
    grid-area: intro;
}

.bd-toc {
    grid-area: toc;
}


@media (min-width: 700px) {
    .bd-content, .bd-main h1 {
        width: 700px;
    }
}

.bd-content {
    grid-area: content;
    min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410

    .bd-markdown {
        h1 {
            display: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        a {
            color: var(--bs-body-color);
        }
    }

    img, video {
        max-width: 100%;
    }

    a[target="_blank"] {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'><path fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'></path> <polygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'></polygon></svg>");
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 16px;
    }
}