$bd-gutter-x: 3rem;
@import "variable";


.bd-gutter {
    --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {

    &.margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: $grid-gutter-width;

        &::-webkit-scrollbar {
            display: none;
        }
        &.margin {
            margin-top: 4.5rem;
            margin-bottom: 4.5rem;
        }
    }

}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-content, .bd-main > div.bd-title > h1 {
    margin: 0 auto;
    max-width: 45.8rem;
    width: 100%;
}

.bd-main {

    grid-area: main;

    p {
        color: $white;

        a {
            color: $purple-35;
        }
    }

    li {
        color: $white;
    }
    h1 {
        padding-bottom: 1.5rem;
        font-size: calc($font-size-base * 3.125);
        color: $white;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
            font-size: calc($font-size-base * 2.125);
        }
    }

    h2 {
        padding-top: 1.5rem;
        font-size: $h2-font-size;
        color: $white;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
            font-size: calc($font-size-base * 1.875);
        }
    }

    h3 {
        padding-top: 1.25rem;
        font-size: calc($font-size-base * 1.75);
        color: $white;
        font-weight: 400;
    }

    h4 {
        padding-top: 1rem;
        color: $white;
        font-size: $h5-font-size;
    }

    h5 {
        padding-top: .75rem;
        font-size: $h6-font-size;
    }

    h6 {
        padding-top: .5rem;
        font-weight: 400;
        font-size: $font-size-base;
    }

    @include media-breakpoint-down(lg) {
        h1 {
            font-size: $h4-font-size!important;
            line-height: $h4-font-size!important;
        }
        h2 {
            font-size: $h5-font-size!important;
            line-height: $h5-font-size!important;
        }
        h3 {
            font-size: $h6-font-size!important;
            line-height: $h6-font-size!important;
        }
        h4 {
            font-size: $font-size-base!important;
            line-height: $font-size-base!important;
        }
        h5 {
            font-size: $font-size-sm!important;
            line-height: $font-size-sm!important;
        }
        h6 {
            font-size: $font-size-xs!important;
            line-height: $font-size-xs!important;
        }
    }

    @include media-breakpoint-down(lg) {
        max-width: 760px;
        margin-inline: auto;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas:
      "intro"
      "toc"
      "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit;
    }

    @include media-breakpoint-up(lg) {
        grid-template-areas:
      "intro   toc"
      "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr;
    }

    &.full {
        grid-template-columns: auto;
        max-width: none;
        .bd-toc {
            display: none;
        }

        .bd-content {
            max-width: none;
            width: 100%;
        }

        h1 {
            margin: 0;

            @include media-breakpoint-up(xxl) {
                margin-left: 3.5rem;
            }
        }
    }


    .card {
        h4 {
            padding-top: 0;
        }

        .card-icon {
            background: none
        }
    }
}

.bd-intro {
    grid-area: intro;
}

.bd-toc {
    grid-area: toc;
}

// For purposes of repositioning the plugin icons, resolves #981, #966.
.bd-content > div > h2 > span:not(.badge) {
    display: none !important;
}

.bd-content {
    grid-area: content;
    min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410

    .bd-markdown {
        h1 {
            display: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        a {
            color: $white;
        }
    }

    .video-container {
        position: relative;
        padding-top: 35.25%;
        background-color: $black-2;
        height: 28.351rem;
        border-radius: calc($spacer / 2);
        border: 1px solid $black-3;
        @media only screen and (max-width: 1919px) {
            padding-top: 56.25%;
            height: auto;
            background-color: transparent;
        }

        iframe {
            margin: auto;
            max-width: 43.7rem;
            max-height: 24.351rem;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

    }

    img:not(h2 img) {
        max-width: 100%;
    }
    video, iframe {
        max-width: 100%;
    }
    iframe {
        width: 100%;
        margin-bottom: $spacer;
    }

    a[target="_blank"]::after {
        $svg-icon: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'><path fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'></path> <polygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'></polygon></svg>";
        -webkit-mask: url($svg-icon);
        mask: url($svg-icon);
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: currentcolor;
        content: '';
        vertical-align: baseline;
        margin-left: 1px;
    }
}



.bd-markdown {
    p, li {
        color: $white;
        line-height: 1.75rem;
        font-size: $font-size-md;

        a {
            color: $purple-36;
        }
    }
    h2, h2 a {
        color: $white;
        font-size: 1.875rem;
        line-height: 2.735rem;
        font-weight: 400;
    }

    h3 a {
        color: $white;
    }

    code {
        background: #161617;
        border: 1px solid #252526;
        border-radius: var(--bs-border-radius);
        color: #b9b9ba;
        padding: 0 .25rem;
    }

    .code-block, .doc-alert {
        background-color: $black-2;
        code {
            border: 0;
            color: $white;
        }
    }

    .code-block {
        code {
            padding: 0;
        }
    }

    .doc-alert {
        border: $block-border;
    }
}