$bd-gutter-x: 3rem;
@import "variable";


.bd-gutter {
    --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {
    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: $grid-gutter-width;
    }
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-main {
    grid-area: main;

    @include media-breakpoint-down(lg) {
        max-width: 760px;
        margin-inline: auto;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas:
      "intro"
      "toc"
      "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit;
    }

    @include media-breakpoint-up(lg) {
        grid-template-areas:
      "intro   toc"
      "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr;
    }
}

.bd-intro {
    grid-area: intro;
}

.bd-toc {
    grid-area: toc;
}

.bd-content {
    grid-area: content;
    min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        a {
            color: var(--bs-body-color);
        }
    }

    h1 {
        padding-bottom: 1.5rem
    }

    h2 {
        padding-top: 1.5rem
    }

    h3 {
        padding-top: 1.25rem
    }

    h4 {
        padding-top: 1rem
    }

    h5 {
        padding-top: .75rem
    }

    h6 {
        padding-top: .5rem
    }

    img {
        max-width: 100%;
    }
}