:root {
    #{--kestra-io-token-color-background-primary}: #111113;
    #{--kestra-io-token-color-background-hover-primary}: #404559;
    #{--kestra-io-token-color-background-secondary}: #161617;
    #{--kestra-io-token-color-border-primary}: #3D3D3F;
    #{--kestra-io-token-color-border-secondary}: #252526;
    #{--kestra-io-token-color-white}: #FFFFFF;
    #{--kestra-io-token-text-link-default}: #9CA1DE;
    #{--kestra-io-neutral-gray300}: #1D1D1E;
    #{--kestra-io-neutral-gray400}: #252526;
    #{--kestra-io-neutral-gray500}: #3D3D3F;
    #{--kestra-io-neutral-gray700}: #8B8B8D;
    #{--kestra-io-neutral-gray900}: #E1E1E1;
}