a {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}


body.banner-open {
    padding-top: 35px;
}


#container {
    padding-top: 68px;

    blockquote {
        border-left-color: $gray-500;
    }

    mark {
        background: $green;
        font-size: $badge-font-size;
        color: white;
        padding: $badge-padding-y $badge-padding-x;
        border-radius: $border-radius;

        * {
            color: white;
        }
    }
}

.global-ui {
    .go-to-top {
        color: $link-color;
        bottom: 70px;
        right: 10px;
    }
}

::selection {
    background: rgba($link-color, 0.9);
    color: $white;
}

body {
    min-width: 320px;
    font-family: $font-family-base !important;
}

img {
    max-width: 100%;
}

.nav-sidebar {
    border-right: 1px solid $border-color;
    margin-left: -$spacer;
    background-color: $white;

    > *:first-child {
        position: sticky;
        overflow-y: auto;
        top: 68px + 16px;
        padding-bottom: 60px;
    }

    @media (max-width: map-get($grid-breakpoints, "md")) {
        & {
            position: fixed !important;
            left: -600px;
            transition: all 0.3s ease;
            border-right: 1px solid $border-color;
            opacity: 0;
            box-shadow: $box-shadow-lg;
            background: $white;
            width: calc(100vw - #{$spacer * 2});
            height: calc(100vh - 68px);
            z-index: 989;
            overflow: auto;
            padding-right: 0;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: $gray-200;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray-400;
                border: 3px solid $gray-200;
            }
        }

        > *:first-child {
            position: relative;
            top: 0;
            padding-bottom: 0;
        }

        .sidebar-open & {
            left: 0;
            opacity: 1;
        }
    }
}

.sidebar-mobile-btn {
    .navbar-toggler {
        background: $theme-dark-dark;
        border-color: $theme-dark-border;
        padding: $navbar-toggler-padding-y / 2 $navbar-toggler-padding-x / 2;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
    }

    position: fixed;
    z-index: 990;
    left: $spacer;
    bottom: $spacer;
}

nav.right {
    position: sticky;
    overflow-y: auto;
    order: 2;
    height: calc(100vh - 68px);
    font-size: $font-size-sm;
    color: $text-muted;
    border-left: 1px solid $border-color;
    padding: 0 $spacer;
    top: 68px + 16px;
    margin-top: $spacer;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $gray-200;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-400;
        border: 3px solid $gray-200;
    }
}


body::-webkit-scrollbar {
    width: $spacer;
}

body::-webkit-scrollbar-track {
    background: $gray-200;
}

body::-webkit-scrollbar-thumb {
    background-color: $gray-400;
    border: 3px solid $gray-200;
}