main.docs {
    margin: 0 auto;

    .content__default {
        padding-top: 1rem;
    }

    h1, .h1 {
        padding-bottom: 1.5rem;
    }

    h2, .h2 {
        padding-top: 1.5rem;
    }

    h3, .h3 {
        padding-top: 1.25rem;
    }

    h4, .h4 {
        padding-top: 1rem;
    }

    h5, .h5 {
        padding-top: 0.75rem;
    }

    h6, .h6 {
        padding-top: 0.5rem;
    }

    table.table {
        background-color: $white;
    }
}
