.page-edit, .page-nav {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
}

.page-edit {
    .last-updated {
        span.time {
            color: $gray-500;
        }
    }
}

.page-nav {
    padding-top: 0;

    .inner {
        border-top-color: $border-color;
        margin-bottom: 4rem;
    }
}

svg.icon.outbound {
    color: $gray-500;
}

.search-box {
    input:focus {
        border-color: $tertiary;
        border-radius: $border-radius;
    }

    .suggestions {
        font-size: $font-size-sm;
        overflow-y: auto;
        border-color: $border-color;
        top: 3rem;
        box-shadow: $box-shadow-lg;

        &.align-right {
            right: 0 !important;
            left: auto !important;
            @media (max-width: map-get($grid-breakpoints, "md")) {
                & {
                    right: -70px !important;
                    width: calc(100vw - 25px);
                }
            }

            @media (max-width: map-get($grid-breakpoints, "sm")) {
                & {
                    min-width: auto;
                }
            }
        }

        a {
            .suggestion-row {
                .suggestion-content {
                    color: $text-muted;
                    .header {
                        font-weight: normal;
                        color: $body-color;
                    }

                    .highlight {
                        background-color: $mark-bg;
                        text-decoration: none;
                    }
                }

                .page-title {
                    background-color: $gray-200;
                    font-weight: bold;
                }
            }

            .parent-page-title {
                background-color: $primary;
                font-weight: bold;
            }
        }



    }
}

#nprogress {
    .bar {
        background: $indigo;
        z-index: 9999;
    }

    .spinner {
        top: 8px;
        right: 8px;
    }

    .peg {
        box-shadow: 0 0 10px $indigo, 0 0 5px $indigo;
    }

    .spinner-icon {
        border-top-color: $indigo;
        border-left-color: $indigo;
    }
}

.code-copy {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $link-color;
}


.badge {
    font-weight: normal;
    .tip {
        /*background-color: $bad;*/
    }
}