.ribbon {
    &.ribbon-primary span {
        background-color: #2f55d4 !important;

        &:before {
            border-left-color: #2443ac;
            border-top-color: #2443ac;
        }

        &:after {
            border-right-color: #2443ac;
            border-top-color: #2443ac;
        }
    }

    &.ribbon-secondary span {
        background-color: #5a6d90 !important;

        &:before {
            border-left-color: #465571;
            border-top-color: #465571;
        }

        &:after {
            border-right-color: #465571;
            border-top-color: #465571;
        }
    }

    &.ribbon-success span {
        background-color: #2eca8b !important;

        &:before {
            border-left-color: #25a06e;
            border-top-color: #25a06e;
        }

        &:after {
            border-right-color: #25a06e;
            border-top-color: #25a06e;
        }
    }

    &.ribbon-warning span {
        background-color: #f17425 !important;

        &:before {
            border-left-color: #d55b0e;
            border-top-color: #d55b0e;
        }

        &:after {
            border-right-color: #d55b0e;
            border-top-color: #d55b0e;
        }
    }

    &.ribbon-info span {
        background-color: #17a2b8 !important;

        &:before {
            border-left-color: #117a8b;
            border-top-color: #117a8b;
        }

        &:after {
            border-right-color: #117a8b;
            border-top-color: #117a8b;
        }
    }

    &.ribbon-danger span {
        background-color: #e43f52 !important;

        &:before {
            border-left-color: #d21e32;
            border-top-color: #d21e32;
        }

        &:after {
            border-right-color: #d21e32;
            border-top-color: #d21e32;
        }
    }

    &.ribbon-dark span {
        background-color: #3c4858 !important;

        &:before {
            border-left-color: #272f3a;
            border-top-color: #272f3a;
        }

        &:after {
            border-right-color: #272f3a;
            border-top-color: #272f3a;
        }
    }

    &.ribbon-muted span {
        background-color: #8492a6 !important;

        &:before {
            border-left-color: #68788f;
            border-top-color: #68788f;
        }

        &:after {
            border-right-color: #68788f;
            border-top-color: #68788f;
        }
    }

    &.ribbon-light span {
        background-color: #f8f9fc !important;

        &:before {
            border-left-color: #d4daed;
            border-top-color: #d4daed;
        }

        &:after {
            border-right-color: #d4daed;
            border-top-color: #d4daed;
        }
    }

    &.ribbon-blue span {
        background-color: #2f55d4 !important;

        &:before {
            border-left-color: #2443ac;
            border-top-color: #2443ac;
        }

        &:after {
            border-right-color: #2443ac;
            border-top-color: #2443ac;
        }
    }

    &.ribbon-footer span {
        background-color: #202942 !important;

        &:before {
            border-left-color: #0f131f;
            border-top-color: #0f131f;
        }

        &:after {
            border-right-color: #0f131f;
            border-top-color: #0f131f;
        }
    }

    position: absolute;
    top: -5px;
    width: 75px;
    height: 75px;
    z-index: 2;

    &.ribbon-right {
        right: -5px;

        span {
            right: -21px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &.ribbon-left {
        left: -5px;

        span {
            left: -21px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    span {
        position: absolute;
        top: 19px;
        width: 100px;
        color: #ffffff;

        &:before, &:after {
            content: "";
            position: absolute;
            top: 100%;
            z-index: -1;
            border: 3px solid transparent;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }
}