---
import "@kestra-io/ui-libs/style.css";
import "../../assets/styles/vendor.scss";
import "../../assets/styles/app.scss";
---


<html lang="en">
  <head>
    <title>Kestra Docs</title>
  </head>
  <body>
    <slot />
  </body>
</html>