---
import "../../assets/styles/docs.scss";
import "../style/custom-elements.scss";
import { getCollection } from "astro:content";
import NavSideBar from "../../components/docs/NavSideBar.vue";
import Layout from "./layout.astro";
import { getNavigationTree } from "../utils/getNavigationTree";

const docsPages = await getCollection('docs')

// transform the flat list of docsPages into a nested structure based on the '/' in the id

// first sort the docsPages by depth (number of '/' in the id)
docsPages.sort((a, b) => {
    const aDepth = a.id.split('/').length;
    const bDepth = b.id.split('/').length;
    return aDepth - bDepth;
});

// then create a nested structure
const navigation = [{
    title: 'Documentation',
    children: getNavigationTree(docsPages)
}]

interface Props {
    activeStem: string,
    isHomePage?: boolean
}

const props = Astro.props;
---

<Layout>
    <div class={`layout-docs-wrapper ${props.isHomePage ? 'homepage' : ''}`}>
        <NavSideBar type="docs" navigation={navigation} slug={props.activeStem} client:idle transition:persist/>
        <main class="bd-content">
            <slot/>
        </main>
    </div>
</Layout>

<style lang="scss">
    @import "../../assets/styles/variable";
    .layout-docs-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    main {
        flex: 1;
        padding: 2rem;
        max-width: 100%;
    }
    .bd-sidebar{
        min-width: 250px;
        white-space: normal;
        .ai-button-wrapper, .search {
            height: 32px;
            width: 209px;
        }
    }

    .homepage {
        .bd-title {
            @media only screen and (min-width: 1920px) {
                width: 45.8rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .bd-content {
            background: radial-gradient(ellipse closest-side, rgba($primary, .1) 0%, #DDC4FF00 100%) no-repeat, url('/docs/ui/homepage-bg.webp') no-repeat;
            background-size: 500px 250px, 1261px 984px;
            background-position: top 110px right -30px, top -200px right -350px;
            max-width: 45.8rem;
        }
    }
</style>

