<html>
  <head>
    <title>Kestra Docs</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
    body {
        display:flex;
        flex-direction:row;
        margin:0;
        padding:0;
    }
</style>