---
import { Icon } from "astro-icon/components"

const REASONS = [
    {
        label: "Partner Badge",
        icon: "mdi:star-circle-outline"
    },
    {
        label: "Partner Directory Listing",
        icon: "mdi:playlist-star"
    },
    {
        label: "Marketing & Co-branding Materials",
        icon: "mdi:looks"
    },
    {
        label: "Partner Enablement",
        icon: "mdi:toggle-switch"
    },
    {
        label: "Priority Services Routing",
        icon: "mdi:priority-high"
    },
    {
        label: "Sandbox Enterprise Edition",
        icon: "mdi:shield-lock-outline"
    },
    {
        label: "Feature Early Access",
        icon: "mdi:test-tube"
    },
]
---

<section class="reasons">
    <div class="container">
        <h2 class="mb-5 text-center">Reasons to integrate with Kestra</h2>
        <div class="row g-3 justify-content-center">
            {
                REASONS.map(({ label, icon }) => (
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="reason-card">
                            <Icon name={icon} />
                            <h5 class="mt-3 text-center">{label}</h5>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style lang="scss">
    .reasons {
        padding: 4rem 1rem;
        background: var(--ks-background-secondary);

        .container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            .row {
                width: 100%;
            }
        }

        .reason-card {
            width: 100%;
            height: 160px;
            border-radius: 8px;
            padding: 32px;
            background: var(--ks-background-primary);
            border: 1px solid var(--ks-border-secondary);
            box-shadow: 2px 3px 16px 0px var(--ks-shadows-light);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            [data-icon] {
                color: var(--ks-icon-color);
                font-size: 2rem;
            }
        }
    }
</style>