---
import Blueprints from "~/components/blueprints/Blueprints.astro"

const { blueprints, tags } = Astro.props as { blueprints: any[], tags: any[] }
---

<Blueprints
    title='Ready-to-Use <span class="highlight">Automation</span> Patterns'
    {blueprints}
    {tags}
    link={{
        href: "/blueprints?tags=infrastructure",
        text: "View more Infrastructure blueprints"
    }}
/>
