---
import { Icon } from "astro-icon/components"

const ITEMS = [
    {
        icon: "mdi:image-filter-center-focus-strong",
        title: "Centralized Orchestration",
        description:
            "Your Unified Infrastructure Control Plane. From Terraform to Python, manage every tool and script in a single, governed environment.",
    },
    {
        icon: "mdi:security-network",
        title: "Secure Remote Execution",
        description:
            "Run tasks safely inside air-gapped networks, VPCs, and private data centers, or in the cloud of your choice.",
    },
    {
        icon: "mdi:clipboard-text-search-outline",
        title: "Audit-Ready by Design",
        description:
            "Automatically capture full run history, task logs, approvals, and evidence bundles for instant compliance.",
    },
    {
        icon: "mdi:cloud-sync-outline",
        title: "Self-Service Infrastructure",
        description:
            "Manage infrastructure directly from a self service catalog. Kestra provisions the server, syncs the records, and resolves the ticket request automatically.",
    },
    {
        icon: "mdi:toolbox-outline",
        title: "Bring Your Own Tools",
        description:
            "Reuse your existing scripts, Terraform modules, Ansible roles, alongside VMware, NetApp or any other tool you already use.",
    },
    {
        icon: "mdi:filter-remove-outline",
        title: "No BoilerPlate",
        description:
            "Keep your scripts lightweight. Offload inputs, secrets, retries, and backoff logic to Kestra, so your code focuses purely on the business logic.",
    },
    {
        icon: "mdi:shield-lock-outline",
        title: "Built for Hybrid & Air-Gapped",
        description:
            "Manage cloud, IT, and OT automation from one platform. Execute tasks securely inside your VPCs or private networks.",
    },
    {
        icon: "mdi:git",
        title: "Native GitOps Integration",
        description:
            "Workflows live in your codebase, move through CI/CD pipelines, and can be instantly rolled back if a deployment fails.",
    },
    {
        title: "Unify, Secure, and Automate Your Infrastructure",
        hasButton: true,
        evenBg: true,
    },
]
---

<section class="built">
    <div class="container">
        <h3 data-usal="fade-u delay-0 duration-400 ease-out">
            Built for the Way
            <span class="highlight">Infrastructure</span> Teams Work
        </h3>

        <div class="cards-grid">
            {
                ITEMS.map((item, index) => (
                    <div
                        class:list={["card", { "even-bg": item.evenBg }]}
                        data-usal={`${index % 2 === 0 ? "fade" : "zoomin"} delay-0 duration-400 ease-out`}
                    >
                        {item.icon && (
                            <Icon name={item.icon} class="icon" />
                        )}
                        <h6 class="title">{item.title}</h6>
                        {item.hasButton ? (
                            <a href="/docs/quickstart" class="btn btn-primary btn-gradient">
                                Get Started
                            </a>
                        ) : (
                            <p class="description">{item.description}</p>
                        )}
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style lang="scss">
    @import "~/assets/styles/variable";

    .built {
        background-color: $white;
        width: 100%;
        padding: 2rem 0.5rem;

        @include media-breakpoint-up(md) {
            padding: 4rem 8px;
            padding-bottom: 90px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            @include media-breakpoint-up(md) {
                gap: 4rem;
            }

            h3 {
                font-size: 2rem;
                text-align: center;
            }

            .cards-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                width: 100%;

                .card {
                    border-radius: 12px;
                    background: $white;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 8px;
                    border: 1px solid #CCCBCE;
                    box-shadow: 2px 3px 16px 0px rgba(39, 32, 86, 0.05);


                    @include media-breakpoint-up(lg) {
                        max-width: 360px;
                    }

                    .icon {
                        font-size: 1.5rem;
                        align-self: flex-start;
                        color: #4b0aaa;
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .title {
                        font-weight: 700;
                        line-height: 28px;
                        margin: 0;
                    }

                    .description {
                        font-weight: 400;
                        font-size: $font-size-sm;
                        line-height: 22px;
                        margin: 0;
                    }

                    &.even-bg {
                        background: #F7F7F7 !important;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
</style>
