---
import Link from "~/components/common/Link.astro"
import { Image } from "astro:assets"

const { plugins = [] } = Astro.props
const PLUGINS_CAROUSEL = [...plugins, ...plugins]
---

<div class="connect">
    <div class="connect__row">
        <div class="connect__panel connect__panel--left">
            <div id="lottie-container" class="connect__lottie"></div>
        </div>

        <div class="connect__panel connect__panel--right">
            <h2>Connect With Any Infrastructure Tools</h2>

            <div class="icon-scroll">
                <div class="carousel">
                    {
                        PLUGINS_CAROUSEL.map((plugin) => (
                            <div>
                                <Image src={plugin.logo} alt={plugin.name} width={plugin.logo.width} height={plugin.logo.height} />
                            </div>
                        ))
                    }
                </div>
            </div>

            <div class="align-self-lg-start">
                <Link href="/plugins" text="See all plugins" class="text-white" />
            </div>
        </div>
    </div>
</div>

<script>
    import lottie from "lottie-web"
    import animationData from "~/assets/lottie/plugins-lottie.json"

    document.addEventListener("astro:page-load", () => {
        const container = document.getElementById("lottie-container")

        if (container) {
            container.innerHTML = ""
            lottie.loadAnimation({
                container: container,
                renderer: "svg",
                loop: true,
                autoplay: true,
                animationData,
            })
        }
    })
</script>

<style lang="scss">
    @import "~/assets/styles/variable";

    .connect {
        background: #151128;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            background-image: url("~/assets/landing/infrastructure/connect.svg");
            background-repeat: no-repeat;
            background-size: auto;
        }

        &__row {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 1.25rem;
            position: relative;
            z-index: 2;

            @include media-breakpoint-up(xl) {
                padding: 4rem 1.25rem;
                gap: 100px;
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
        }

        &__panel {
            display: flex;
            align-items: start;
            justify-content: center;

            @include media-breakpoint-down(lg) {
                align-items: center;
            }
        }

        &__panel--left {
            height: 536px;

            @include media-breakpoint-down(lg) {
                width: 100%;
                height: auto;
            }
        }

        &__lottie {
            width: 100%;
            height: 100%;
        }

        &__panel--right {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            @include media-breakpoint-up(lg) {
                gap: 2rem;
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            .icon-scroll {
                height: 70px;
                @include media-breakpoint-up(lg) {
                    width: 547px;
                    height: 99px;
                }
                position: relative;
                overflow: hidden;
                border-radius: 0.875rem;

                @include media-breakpoint-down(xl) {
                    width: 90%;
                }

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 8%;
                    z-index: 11;
                    pointer-events: none;
                }

                &::after {
                    left: 0;
                    background: linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 0.06),
                        rgba(255, 255, 255, 0)
                    );
                    backdrop-filter: blur(3px);
                }

                &::before {
                    right: 0;
                    background: linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0.06)
                    );
                    backdrop-filter: blur(3px);
                }

                .carousel {
                    position: absolute;
                    overflow: visible;
                    white-space: nowrap;
                    top: 0;
                    left: 0;
                    animation: infiscroll 12s linear infinite;
                    z-index: 10;
                    -webkit-mask-image: linear-gradient(
                        to right,
                        transparent 0%,
                        $black 15%,
                        $black 85%,
                        transparent 100%
                    );
                    mask-image: linear-gradient(
                        to right,
                        transparent 0%,
                        $black 15%,
                        $black 85%,
                        transparent 100%
                    );

                    div {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        @include media-breakpoint-up(lg) {
                            width: 99px;
                            height: 99px;
                        }
                        margin: 0 0.5rem;
                        border-radius: 0.875rem;
                        box-shadow: 0 0.125rem 0.25rem var(--ks-card-shadow);
                        overflow: hidden;
                        background: $white;

                        img {
                            width: 95%;
                            height: 95%;
                            object-fit: contain;
                        }
                    }
                }
            }

            h2 {
                width: 395px;
                font-weight: 600;
                color: $white;
                margin: 0;

                @include media-breakpoint-down(lg) {
                    width: 100%;
                }
            }
        }
    }

    @keyframes infiscroll {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-50%, 0);
        }
    }
</style>
