---
import { Image } from "astro:assets"
import PluginsCarousel from "~/components/common/PluginsCarousel.astro"

const { plugins = [] } = Astro.props
---

<div class="connect">
    <div class="connect__row">
        <div class="connect__panel connect__panel--left">
            <div id="lottie-container" class="connect__lottie"></div>
        </div>

        <div class="connect__panel connect__panel--right">
            <PluginsCarousel
                {plugins}
                title="Connect With Any Infrastructure Tools"
                link={{
                    href: "/plugins",
                    text: "See all plugins",
                }}
            />
        </div>
    </div>
</div>

<script>
    import lottie from "lottie-web"
    import animationData from "~/assets/lottie/plugins-lottie.json"

    document.addEventListener("astro:page-load", () => {
        const container = document.getElementById("lottie-container")

        if (container) {
            container.innerHTML = ""
            lottie.loadAnimation({
                container: container,
                renderer: "svg",
                loop: true,
                autoplay: true,
                animationData,
            })
        }
    })
</script>

<style lang="scss">
    @import "~/assets/styles/variable";

    .connect {
        background: #151128;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            background-image: url("~/assets/landing/infrastructure/connect.svg");
            background-repeat: no-repeat;
            background-size: auto;
        }

        &__row {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 1.25rem;
            position: relative;
            z-index: 2;

            @include media-breakpoint-up(xl) {
                padding: 4rem 1.25rem;
                gap: 100px;
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
        }

        &__panel {
            display: flex;
            align-items: start;
            justify-content: center;

            @include media-breakpoint-down(lg) {
                align-items: center;
            }
        }

        &__panel--left {
            height: 536px;

            @include media-breakpoint-down(lg) {
                width: 100%;
                height: auto;
            }
        }

        &__lottie {
            width: 100%;
            height: 100%;
        }

        &__panel--right {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            @include media-breakpoint-up(lg) {
                gap: 2rem;
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }
    }

</style>
