---
import LifecycleLayout from "~/components/layout/Lifecycle.astro"

const cards = [
    {
        title: "Ansible Playbooks, Automated the Right Way",
        description: "Wrap your playbooks in a production-grade layer. Gain structured inputs, secret injection, parallel execution, and granular logging without changing a single line of code.",
        link: {
            href: "/docs/how-to-guides/ansible",
            text: "Automate your Playbooks with Kestra"
        },
        background: "#0D0D0D",
        animation: "slide-r delay-50 duration-600 ease-out"
    },
    {
        title: "Automated Infrastructure Ticketing Lifecycle",
        description: "Enable true self-service infrastructure. Kestra turns catalog requests into provisioned resources, automatically updates the CMDB, and closes the ticket with audit proof, delivering assets in minutes, not days.",
        link: {
            href: "/docs/how-to-guides/servicenow-trigger",
            text: "Manage your full ticket lifecycle"
        },
        background: "#631BFF",
        animation: "slide-l delay-100 duration-600 ease-out"
    }
]
---

<LifecycleLayout 
    title='<span class="highlight">Governed</span> Configuration & <span class="highlight">ITSM</span> Orchestration'
    cards={cards}
/>
