---
import ArrowLeftIcon from "vue-material-design-icons/ArrowLeft.vue"
import ArrowRightIcon from "vue-material-design-icons/ArrowRight.vue"
---

<div class="carousel-container">
    <button class="navigation navigation-left">
        <ArrowLeftIcon />
    </button>
    <button class="navigation navigation-right">
        <ArrowRightIcon />
    </button>
    <div class="carousel-content">
        <slot />
    </div>
</div>

<script>
    const ONE_BLUEPRINT_WIDTH_WITH_MARGIN = 370

    const wrapper = document.querySelector(".carousel-content")

    document
        .querySelector(".navigation-left")
        ?.addEventListener("click", () => {
            if (wrapper) {
                wrapper.scrollTo({
                    left: wrapper.scrollLeft - ONE_BLUEPRINT_WIDTH_WITH_MARGIN,
                    behavior: "smooth",
                })
            }
        })

    document
        .querySelector(".navigation-right")
        ?.addEventListener("click", () => {
            if (wrapper) {
                wrapper.scrollTo({
                    left: wrapper.scrollLeft + ONE_BLUEPRINT_WIDTH_WITH_MARGIN,
                    behavior: "smooth",
                })
            }
        })
</script>

<style lang="scss">
    .carousel-container {
        position: relative;
        margin: -1rem 0;
        --carrousel-padding-inline: 1rem;
        @include media-breakpoint-up(md) {
            --carrousel-padding-inline: 2rem;
        }

        .navigation {
            position: absolute;
            top: 104%;
            transform: translateY(-50%);
            color: var(--ks-content-primary);
            border-radius: 4px;
            background-color: var(--ks-background-secondary);
            z-index: 10;
            width: 44px;
            border: none;
            font-size: 16px;
            padding: 0;
            border: 1px solid var(--ks-border-primary);
            &-left {
                left: var(--carrousel-padding-inline);
            }
            &-right {
                right: var(--carrousel-padding-inline);
            }
        }
    }

    .carousel-content {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: auto;
        padding: 1rem var(--carrousel-padding-inline);
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        --carrousel-gradient-width: calc(6 * var(--carrousel-padding-inline));
        --carrousel-gradient-width-inverse: calc(
            100% - var(--carrousel-gradient-width)
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            #000 var(--carrousel-gradient-width),
            #000 var(--carrousel-gradient-width-inverse),
            transparent
        );
        mask-image: linear-gradient(
            to right,
            transparent,
            #000 var(--carrousel-gradient-width),
            #000 var(--carrousel-gradient-width-inverse),
            transparent
        );
    }
</style>
