::selection {
    background: rgba($primary, 0.9);
    color: $white;
}

body {
    min-width: 320px;
    font-family: $font-family-base !important;
}

img {
    max-width: 100%;
}

#app {
    pre {
        code {
            color: $white !important;
        }
    }

    main {
        @mixin home-common {
            background-size: cover;
            align-self: center;
            position: relative;
            background-position: center center;
        }

        .bg-half {
            padding: 184px 0 90px;
            @include home-common();
        }
    }
}

pre {
    margin-bottom: 0.5rem !important;
}

blockquote {
    p {
        margin-bottom: 0;
    }
}
