.theme-default-content:not(.custom) {
    max-width: none;

    @media (min-width: 719px) and (max-width: 959px) {
        margin-left: 16.4rem;
        width: calc(100% - 16.4rem);
    }

    @media (min-width: 959px) and (max-width: 1360px) {
        margin-left: 20rem;
        width: calc(100% - 20rem);
    }

    @media (min-width: 1360px) {
        margin-left: 20rem;
        width: calc(100% - 20rem - 320px);
    }
}

footer.page-edit {
    max-width: none;
}

div.page-nav {
    max-width: none;
}

table code {
    white-space: nowrap;
}

a.btn {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: $primary;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid darken($primary, 15%);
    transition: background-color 0.1s ease;

    &:hover {
        text-decoration: none !important;
        background: darken($primary, 10%);
    }
}

mark {
    background: $green;
    font-size: 90%;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;

    * {
        color: white !important;
    }
}

.code-copy {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $primary;
}

.page-edit {
    span, a {
        color: $gray-500 !important;
    }
}

h3 code {
    font-size: $font-size-base;
}

h4 code {
    font-size: $font-size-base * 0.9;
}

h5 code {
    font-size: $font-size-base * 0.8;
}

h6 code {
    font-size: $font-size-base * 0.7;
}

.ra-wrapper {
    width: 320px;
    max-width: 320px;
    transition: all 0.3s;

    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-size: $font-size-sm;
        margin-bottom: 0;
        font-weight: normal;
    }

    li.sub {
        line-height: $font-size-base * 1.3;
    }

    .ra-menu-item:hover, .ra-menu-item.active {
        color: $purple;
        border-left-color: $purple;
    }

    @media (max-width: 1360px) {
        & {
            display: none !important;

        }
    }

    .ra-button {
        display: none;
    }
}

.theme-default-content {
    h1, .h1 {
        padding-bottom: 1.5rem;
    }

    h2, .h2 {
        padding-top: 1.5rem;
    }

    h3, .h3 {
        padding-top: 1.25rem;
    }

    h4, .h4 {
        padding-top: 1rem;
    }

    h5, .h5 {
        padding-top: 0.75rem;
    }

    h6, .h6 {
        padding-top: 0.5rem;
    }
}

aside.sidebar {
    ul.sidebar-links {
        a {
            color: $body-color;

            &.active {
                color: $purple;
                border-left-color: $purple;
            }
        }
    }
}

h1 img {
    vertical-align: middle;
}

