a:hover {
    text-decoration: none;
    color: $primary;
}

.theme-default-content:not(.custom) > h1,
.theme-default-content:not(.custom) > h2,
.theme-default-content:not(.custom) > h3,
.theme-default-content:not(.custom) > h4,
.theme-default-content:not(.custom) > h5,
.theme-default-content:not(.custom) > h6 {
    padding-top: 0;
}

blockquote p {
    margin-bottom: 0;
}

.sidebar-links {
    p {
        margin-bottom: 0;
    }

    a, .sidebar-heading {
        padding-bottom: 0;
    }

    .sidebar-sub-headers {
        display: none;
    }
}


header.navbar {
    .nav-item a {
        color: $white;
        border-bottom-color: $primary;

    }

    .repo-link {
        color: $white;
        text-decoration: none;
        padding: $nav-link-padding-y $nav-link-padding-x;
        &:hover {
            border-bottom: 1px solid $primary;
        }
    }
}

aside.sidebar {
    .nav-links {
        display: none;
    }
}

.navbar {
    position: fixed;
}

.go-to-top {
    color: $primary;
}

main.page {
    padding-top: 3rem;
}

h2 {
    border: 0;
}

@media (max-width: 719px) {
    .theme-container:not(.no-sidebar) {
        .home-link {
            margin-left: 40px;
        }
    }

    .search-box {
        margin-right: 15px;
    }
}

.no-sidebar {
    .sidebar {
        display: none;
    }

    .sidebar-button {
        display: none;
    }
}