---
export const prerender = false
import CommunityContent from "~/components/blogs/CommunityContent.vue"
import Layout from "~/components/layout.astro"
import { $fetchApi } from "~/utils/fetch"

const externalNewsData = await $fetchApi(`/external-blogs`)

const externalNews = externalNewsData.results.map((data: any) => {
    return {
        id: data.id,
        path: data.link,
        image: data.image,
        category: data.media,
        author: { name: data.author },
        title: data.title,
        date: data.publicationDate,
    }
})
const title = "Insights & News on Data Orchestration"
const description =
    "Explore the Kestra Blog for the latest articles, insights, product updates & engineering deep dives."
---

<Layout {title} {description}>
    <section>
        <CommunityContent
            client:load
            slug="/blogs/community"
            externalNews={externalNews}
        />
    </section>
</Layout>
