---
import CommunityContent from "~/components/blogs/CommunityContent.vue"
import Layout from "~/components/layout.astro"
import { getCollection } from "astro:content"
import { getImage } from "astro:assets"

const allExternalBlogs = await getCollection("externalBlogs")

const externalNews = await Promise.all(
    allExternalBlogs
        .sort((a, b) => b.data.publicationDate.getTime() - a.data.publicationDate.getTime())
        .map(async (entry) => {
            const image = await getImage({ src: entry.data.image, format: "webp", width: 800 })
            return {
                id: entry.id,
                path: entry.data.link,
                image: image.src,
                category: entry.data.media,
                author: { name: entry.data.author },
                title: entry.data.title,
                date: entry.data.publicationDate,
            }
        }),
)

const title = "Insights & News on Data Orchestration"
const description =
    "Explore the Kestra Blog for the latest articles, insights, product updates & engineering deep dives."
---

<Layout {title} {description}>
    <section>
        <CommunityContent
            client:load
            slug="/blogs/community"
            externalNews={externalNews}
        />
    </section>
</Layout>
