---
import { getCollection } from "astro:content"
import BlogList from "~/components/blogs/BlogList.astro"
import { $fetchApi } from "~/utils/fetch"
import { getImage } from "astro:assets"
import Squared from "~/components/blogs/Squared.astro"
import Layout from "~/components/layout.astro"
import Subscribe from "~/components/layout/Subscribe.vue"
import UpdateLetter from "~/components/layout/Updateletter.vue"

const blogs = await getCollection("blogs")

const sortedBlogs = await Promise.all(
    blogs
        .sort((a, b) => {
            return (
                new Date(b.data.date).getTime() -
                new Date(a.data.date).getTime()
            )
        })
        .map(async (blog) => {
            const image = await getImage({
                src: blog.data.image ?? "",
                format: "webp",
                width: 800,
            })
            return {
                ...blog,
                data: {
                    ...blog.data,
                    image: image.src,
                },
            }
        }),
)

const externalNewsData = await $fetchApi<{
    results: {
        id: string
        link: string
        image: string
        media: string
        author: string
        title: string
        publicationDate: string
    }[]
}>(`/external-blogs?size=4`)

const externalNews = externalNewsData.results.map((data) => {
    return {
        id: data.id,
        path: data.link,
        image: data.image,
        category: data.media,
        author: { name: data.author },
        title: data.title,
        date: data.publicationDate,
    }
})

const internalBlogs = sortedBlogs.map((blog) => ({
    ...blog.data,
    slug: blog.id,
    path: `/blogs/${blog.id}`,
}))

const tutorialVideo = await $fetchApi(`/tutorial-videos?page=1&size=3`)
---

<Layout>
    <Squared>
        <div>
            <h1>All things Kestra.</h1>
            <p>The latest updates, guides and stories</p>
        </div>
        <Subscribe client:visible class="margin" />
    </Squared>
    <BlogList
        blogs={internalBlogs}
        externalNews={externalNews}
        videos={tutorialVideo.results}
    />
    <UpdateLetter client:visible />
</Layout>

<style lang="scss">
    @import "~/assets/styles/variable";

    .margin {
        margin-top: 44px;
    }
</style>
