---
export const prerender = false;

import Layout from "../../components/layout.astro";
import BlueprintsLists from "~/components/blueprints/Lists.vue";
import LayoutFooterContact from "~/components/layout/FooterContact.vue";
import { $fetch } from "~/utils/fetch";

const tagsRes = await $fetch(`https://api.kestra.io/v1/blueprints/versions/latest/tags`) as BlueprintTag[];
const tags = tagsRes || [];

const title = "Blueprints";
const description = "Get started with our library of workflows ready to use";
---
<Layout title={title} description={description}>
    <div class="container">
        <BlueprintsLists
            client:load
            tags={tags}
            currentUrl={Astro.request.url}
        />
        <LayoutFooterContact
            client:visible
            title="New to Kestra?"
            subtitle="Use blueprints to kickstart your first workflows."
            purpleButtonText="Get started with Kestra"
            purpleButtonHref="/docs/getting-started/quickstart#start-kestra"
        />
    </div>
</Layout>
