<div class="bd-content">
    <slot />
</div>

<style lang="scss">
    .bd-content {
        margin: 0 auto;
        padding: 2rem 0;
        @include media-breakpoint-up(lg) {
            max-width: 100%;
        }

        :global(.gradient-overlay),
        :global(.more-btn) {
            background: linear-gradient(transparent, var(--ks-background-body));
        }

        :global(div.description) {
            border-color: var(--ks-border-primary) !important;
            margin: 0 -2rem !important;
            padding: 2rem !important;
        }

        :global(.element-card),
        :global(.plugin) {
            background-color: var(--ks-background-primary) !important;
            border-color: var(--ks-border-primary) !important;
            box-shadow: none !important;
            &:hover {
                border-color: var(--ks-border-active) !important;
            }
            :global(h6) {
                color: var(--ks-content-primary);
            }
            :global(.plugin-info) {
                background-color: transparent;
                border: $block-border;
                :global(.plugin-class) {
                    color: var(--ks-content-link) !important;
                }
            }
            :global(.description) {
                text-transform: none;
            }
        }

        :global(code) {
            border: none !important;
            background-color: transparent !important;
        }
    }
</style>
