---
import Squared from "~/components/layout/Squared.vue"
import TaskIcon from "~/components/common/TaskIcon.astro"
import Breadcrumb from "~/components/layout/Breadcrumb.vue"

const { page, tags: allTags = [] } = Astro.props

const tags = allTags
    .filter((tag: BlueprintTag) => page.tags?.includes(tag.id))
    .map((tag: BlueprintTag) => tag.name)
---

<div class="header">
    <Squared client:load>
        <div class="wrapper">
            <div class="left">
                <Breadcrumb
                    items={[
                        { label: "Home", href: "/" },
                        { label: "Blueprints", href: "/blueprints" },
                        { label: page.title, href: "" },
                    ]}
                />

                {
                    page.includedTasks?.length > 0 && (
                        <div class="tasks">
                            {page.includedTasks
                                .filter(
                                    (cls: string) =>
                                        !cls.startsWith(
                                            "io.kestra.plugin.ee.assets.",
                                        ),
                                )
                                .map((icon: string) => (
                                    <div class="task">
                                        <div class="box">
                                            <TaskIcon cls={icon} />
                                        </div>
                                    </div>
                                ))}
                        </div>
                    )
                }

                <h1 class="title mb-0">{page.title}</h1>
                <p class="description">{page.metaDescription}</p>
            </div>

            <div class="right">
                <span class="category">Categories</span>
                {
                    tags.length > 0 && (
                        <div class="tags">
                            {tags.map((tag: string) => (
                                <span class="tag">{tag}</span>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </Squared>
</div>

<style lang="scss">
    .header :global(.container) {
        max-width: 1520px !important;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;

        @include media-breakpoint-up(xl) {
            flex-direction: row;
            align-items: flex-start;
        }

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include media-breakpoint-up(xl) {
                max-width: 891px;
            }

            .tasks {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.75rem;

                .box {
                    width: 2.5rem;
                    height: 2.5rem;
                    padding: 5px;
                    border-radius: 8px;
                    border: $block-border;
                    background-color: var(--ks-background-primary);
                }
            }

            .description {
                @include media-breakpoint-up(lg) {
                    font-size: $font-size-lg;
                }
                margin-bottom: 0;
            }
        }

        .right {
            min-width: 210px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .category {
                font-size: $font-size-md;
                font-weight: 600;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                .tag {
                    background: var(--ks-background-tag-category);
                    color: var(--ks-content-tag-category);
                    padding: 0.125rem 0.75rem;
                    border-radius: 2rem;
                    font-size: $font-size-xs;
                    font-weight: 600;
                    white-space: nowrap;
                }
            }
        }
    }
</style>
