$white: #fff;
$black: #000;

$gray-100: #f8f8fc;
$gray-200: #f1f5fa;
$gray-300: #eaf0f9;
$gray-400: #b6c2e4;
$gray-500: #8997bd;
$gray-600: #7081b9;
$gray-700: #303e67;
$gray-800: #2c3652;
$gray-900: #1d2c48;

$font-family-sans-serif: var(--font-family-mona-sans);
$font-family-jetbrains-mono: var(--font-family-jetbrains-mono);

$font-size-base: 1rem;
$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.375;
$font-size-xl: $font-size-base * 1.5;
$font-size-2xl: $font-size-base * 1.75;
$font-size-3xl: $font-size-base * 2.125;
$font-size-4xl: $font-size-base * 2.5;

$h1-font-size: $font-size-4xl;
$h2-font-size: $font-size-3xl;
$h3-font-size: $font-size-2xl;
$h4-font-size: $font-size-xl;
$h5-font-size: calc($font-size-lg - 0.25rem);
$h6-font-size: $font-size-md;

$link-decoration: none;

:root {
    --bs-link-color: var(--ks-content-link);
    --bs-link-hover-color: var(--ks-content-link-hover);
    --bs-primary: var(--ks-content-color-highlight);
}

// grid
$grid-gutter-width: 1.75rem;

// border
$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.5rem;
$container-border: 1px solid rgba(255, 255, 255, 0.1);
$block-border: 1px solid var(--ks-border-primary);
$btn-dark-border: 1px solid rgba(255, 255, 255, 0.12);

//margin
$popper-margin: 0.2rem;

// shadow
$box-shadow: 0 0.75rem 0.75rem rgba(#dce0f9, 0.5);
$box-shadow-sm: 0 0.375rem 0.375rem rgba(#dce0f9, 0.5);
$box-shadow-lg: 0 1.5rem 1.5rem rgba(#dce0f9, 0.5);

// nav
$menu-backdrop-filter: blur(44px);

$enable-reduced-motion: false;
$min-contrast-ratio: 2.5;

$baseline-max-width: 730px;
$container-max-width: 760px;

$rem-1: 1rem;
$rem-2: 2rem;
$rem-3: 3rem;
$rem-4: 4rem;
$rem-5: 5rem;
$rem-6: 6rem;
$rem-7: 7rem;
$rem-8: 8rem;
$rem-9: 9rem;
$rem-10: 10rem;

// bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1520px
);

$container-padding-x: $grid-gutter-width * 0.5;
$grid-row-columns: 6;

$spacers: map-merge(
    $spacers,
    (
        6: (
            $spacer * 2,
        ),
        7: (
            $spacer * 0.625,
        ),
    )
);

$font-sizes: map-merge(
    $font-sizes,
    (
        7: (
            $font-size-xs,
        ),
    )
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";