@import "variable";

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

html {
    height: 100%;
    scroll-padding-top: var(--top-bar-height);
}

pre {
    color: $white;
}

body {
    min-width: 320px;
    min-height: 100%;
    position: relative;
    background-color: #0a0b0d;
}

.headers-body-bg {
    background: #111113 !important;
}

.nuxt-loading-indicator {
    background: linear-gradient(90deg, #e151f7 65.38%, #5c47f5 82.43%) !important;
}
:root {
    --spacer: #{$spacer};
    --#{$prefix}font-size-lg: #{$font-size-lg};
    --#{$prefix}font-size-sm: #{$font-size-sm};
}

@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        .container-min {
            min-width: $container-max-width;
        }
    }
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 1140px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

@include media-breakpoint-down(lg) {
    h1 {
        font-size: $h2-font-size;
    }
    h2 {
        font-size: $h3-font-size;
    }
    h3 {
        font-size: $h4-font-size;
    }
    h4 {
        font-size: $h5-font-size;
    }
    h5 {
        font-size: $h6-font-size;
    }
    h6 {
        font-size: $font-size-sm;
    }
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

main {
    padding-top: 67px;

    @include media-breakpoint-down(lg) {
        padding-top: 60px;
    }

    > div {
        overflow-x: hidden;
    }
}

// astro image
:where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
}

:where([data-astro-image="full-width"]) {
    width: 100%;
    height: auto;
}

:where([data-astro-image="constrained"]) {
    max-width: 100%;
    height: auto;
}

// bootstrap
table.table {
    thead {
        border-bottom: 2px solid var(--bs-black);
    }
}

.alert {
    > *:last-child {
        margin-bottom: 0;
    }
}

blockquote.blockquote {
    border-left: 4px solid var(--bs-gray-500);
    padding-left: $spacer;
    color: var(--bs-gray-500);
    font-size: 1rem;
}

.btn {
    font-weight: bold;
    border: 0;
    border-radius: $border-radius-lg;
}

.btn:not(.btn-lg):not(.btn-sm) {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
}

.btn.btn-lg {
    padding: 1.2rem 2rem;
}

.btn.btn-sm {
    padding: 0.375rem 1rem;
}

.modal-full {
    .modal-dialog {
        width: 95%;
        max-width: none;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.btn-primary {
    background-color: $purple-40;
    color: $white !important;
    position: relative;
    background-clip: padding-box;

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(to bottom, $purple-42, $purple-43);
    }

    &:hover {
        background-color: $purple-41;
    }
}

.btn-secondary {
    background-color: $white;
    color: $black-6 !important;
    border: 1px solid #3c3c3c;

    &:hover {
        background-color: $white-1;
        color: $black-6;
    }
}

.btn.btn-primary,
.btn.btn-secondary {
    font-weight: 700;
    line-height: 1.5;
    &.btn-md {
        padding: 0.5rem 1rem;
        font-size: $font-size-base;
        border-radius: $border-radius;
    }
    &.btn-lg {
        padding: 0.8rem 1.6rem;
        font-size: $font-size-lg;
        border-radius: $border-radius-lg;
        @include media-breakpoint-down(lg) {
            padding: 0.5rem 1.5rem;
            font-size: $font-size-base;
            border-radius: $border-radius;
        }
    }
}

.btn-gradient {
    position: relative;
    background:
        linear-gradient(180deg, #694eff 0%, #5233ff 104.54%) padding-box,
        linear-gradient(262.72deg, #ffffff 15.19%, #e8c8c8 37.92%, #838383 76.01%) border-box;
    border-radius: $border-radius-lg;
    border: 1px solid transparent;
    box-shadow:
        0 0 10px #dce0f980,
        0 0 14px #be62ff inset,
        2px 2px 11px #0000001a;
}

.btn-animated {
    --border-size: 1px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: 0;
    color: var(--bs-white);

    &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -300%;
        width: 200%;
        height: 760%;
        animation: rotate 6s linear infinite;
    }

    &:active {
        color: var(--bs-white) !important;
    }

    &:hover {
        color: var(--bs-white) !important;
        &::before {
            animation-duration: 1.5s;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 1px;
        top: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: #0a0113;
        border-radius: $border-radius-lg;
        transition: background-color 0.2s ease;
    }
}

.btn-dark {
    border: $btn-dark-border;
    background: #333336;
    border: 1px solid #333336;

    &:hover {
        background: #333336;
        border-color: rgba(255, 255, 255, 0.12);
    }
}

.btn-dark-animated {
    &::before {
        background: conic-gradient(#b010fb, #de97ff 10%, #a227db, transparent 50%, #a610ec);
    }

    &::after {
        background: #0a0113;
    }

    &:hover {
        filter: drop-shadow(16px 39px 17px rgba(149, 22, 208, 0.01))
            drop-shadow(9px 22px 14px rgba(149, 22, 208, 0.05))
            drop-shadow(4px 10px 11px rgba(149, 22, 208, 0.09))
            drop-shadow(1px 2px 6px rgba(149, 22, 208, 0.1));

        &::after {
            background: #230542;
        }
    }
}

.btn-purple-animated {
    &::before {
        background: conic-gradient(#b010fb, #de97ff 10%, #a227db, transparent 50%, #a610ec);
    }

    &::after {
        background: #4b0aaa;
    }

    &:hover {
        box-shadow:
            1px 2px 4px 0px rgba(101, 24, 216, 0.29),
            3px 6px 7px 0px rgba(101, 24, 216, 0.26),
            7px 14px 10px 0px rgba(101, 24, 216, 0.15),
            13px 25px 11px 0px rgba(101, 24, 216, 0.04),
            20px 40px 12px 0px rgba(101, 24, 216, 0.01);

        &::after {
            background: #650de4;
        }
    }
}

// component
.hero {
    padding-top: calc($spacer * 8);
    padding-bottom: calc($spacer * 6);

    &.hero-sm {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    h1,
    p {
        max-width: $baseline-max-width;
    }

    &.text-center {
        max-width: none;

        h1,
        p {
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 3.25rem;
        padding-bottom: 1.5rem;
    }

    p.baseline {
        font-size: $font-size-xl;
        padding-bottom: 1.5rem;
    }

    p.overline {
        font-family: var(--bs-font-monospace);
        font-size: $font-size-xl;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .dot {
        color: $pink;
        font-family: var(--bs-font-monospace);
        font-size: 52px;
    }

    .cta {
        padding-bottom: calc($spacer * 2);
    }
}

.card {
    border-radius: $border-radius-lg;
}

.card-group {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    .card {
        height: 100%;
        border-radius: $border-radius-lg;
    }

    &.card-centered {
        text-align: center;
        background: url("/landing/shadow.svg") no-repeat center center;
        justify-content: center;

        @include media-breakpoint-down(xl) {
            background-size: contain;
        }

        @include media-breakpoint-down(lg) {
            background: none;
        }

        .card-title {
            font-size: $font-size-lg;
        }

        .card-icon {
            display: block;
            float: none;
            margin: 0 auto $spacer;

            .material-design-icon {
                margin-top: 5px;
            }
        }
    }

    &.no-shadow {
        background: none;
    }
}

.card {
    border-color: transparent;

    .cart-title-container {
        display: flex;
        align-items: center;
    }

    .card-icon {
        width: 50px;
        height: 50px;
        background-color: $primary;
        border-radius: $border-radius-lg;
        color: var(--bs-white);
        text-align: center;
        display: flex;
        font-size: 2rem;
        float: left;
        margin-right: $spacer;
        align-items: center;
        justify-content: center;
        margin-bottom: $spacer;

        img {
            width: 90% !important;
            height: 90% !important;
        }

        .material-design-icon {
            margin-top: -10px;
            width: 42px;
            height: 42px;
        }

        .material-design-icon__svg {
            width: 42px;
            height: 42px;
        }
    }

    h5.card-title {
        color: $purple-1;
        font-size: $h4-font-size;
    }

    p.card-text {
        clear: left;
    }
}

.scroller {
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        background: $black-5;
    }
}

.type-mark {
    background-color: var(--bs-secondary);
    border-radius: var(--bs-border-radius);
    color: var(--bs-white);
    font-size: $font-size-sm;
    margin-right: 5px;
}

.baseline-max-width {
    max-width: $baseline-max-width;
}

small.agree {
    font-size: 75%;
    opacity: 0.6;
    color: var(--bs-body-color);
    a {
        color: var(--bs-body-color);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.animation-slide-in {
    animation-duration: 0.2s;
    animation-fill-mode: backwards;
    animation-name: slide-in;
}

.animation-slide-up {
    top: 0 !important;
    box-shadow: none !important;
    transform: translateY(-300%) !important;

    * {
        padding-bottom: 0;
    }
}

.animation-slide-right {
    right: 0 !important;
    box-shadow: none !important;
    transform: translateX(300%) !important;
}

:root {
    --spacer: #{$spacer};
    // avoids issues when pagination css file is loaded too late or not at all
    .pagination {
        --bs-pagination-disabled-bg: $black-2;
        --bs-pagination-bg: $black-2;
    }
}

#cc-main {
    --cc-font-family: var(--bs-body-font-family);
    --cc-btn-primary-color: #fff;
    --cc-btn-primary-bg: var(--bs-primary);
    --cc-btn-primary-hover-bg: #8d45ff;
    --cc-btn-primary-hover-color: $white;
    --cc-btn-primary-border-color: var(--bs-primary);
}

.medium-zoom-overlay {
    z-index: $zindex-modal + 1;
}

.medium-zoom-image--opened {
    z-index: $zindex-modal + 2;
}

.video-container {
    overflow: hidden;
    padding-bottom: 52.25%;
    position: relative;
    height: 0;
}

.video-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top-breadcrumb {
    font-size: $font-size-sm;
    color: var(--bs-primary);
    font-family: var(--bs-font-monospace);
    font-weight: 800;
    text-transform: uppercase;
    max-width: 700px;
    .bd-gutter & {
        margin: 0 auto;
    }

    &:after {
        content: "";
        position: absolute;
        margin-top: calc($font-size-sm / 1.5);
        margin-left: $spacer;
        display: inline-block;
        height: 2px;
        width: 51px;
        background: var(--bs-pink);
    }
}

.line-path-animation {
    transition-duration: 1s;
}

.form-select {
    --bs-form-select-bg-img: url("/landing/plugins/select-arrow.svg") !important;
}

@include media-breakpoint-down(lg) {
    .desktop {
        display: none;
    }
}

@include media-breakpoint-up(lg) {
    .mobile {
        display: none;
    }
}
.plugin-tooltip {
    .tooltip-inner {
        text-align: left !important;
        max-height: 20rem;
        overflow: auto;
        background-color: rgb(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        color: var(--kestra-io-token-color-white);
        border: 1px solid var(--kestra-io-token-color-border-primary);
        border-radius: 1em;
        max-width: 80ch;
        padding: 1rem;

        p:not(li p) {
            margin-bottom: 0;
            line-height: 1.625rem;
        }

        li::marker,
        a {
            color: var(--kestra-io-token-text-link-default);
        }

        li {
            line-height: 1.25rem;
        }

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        &::-webkit-scrollbar-track {
            background: var(--card-bg);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bs-primary);
            border-radius: 0px;
        }
    }
    .tooltip-arrow {
        --bs-tooltip-bg: var(--kestra-io-token-color-border-primary);
    }
}

.bd-content .bd-markdown .code-block {
    code {
        white-space: pre-wrap;
    }
    pre.shiki {
        margin-top: 0;
        code {
            display: block;
        }
    }
}

#search-modal,
#search-ai-modal {
    .modal-dialog {
        @include media-breakpoint-down(lg) {
            max-width: 90%;
        }
    }

    .modal-content {
        background: none;
        border: 0;
        max-height: 96vh;
    }

    .modal-body {
        border: 1px solid $black-6;
        border-radius: $border-radius-lg;
        padding: 0;
    }
}

#search-ai-modal {
    .modal-body {
        height: 95vh;
        display: flex;
    }
}

.ai-button-wrapper {
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from calc(var(--border-angle) + 50.37deg) at 50% 50%,
        #3991ff 0deg,
        #8c4bff 124.62deg,
        #a396ff 205.96deg,
        #3991ff 299.42deg,
        #e0e0ff 342.69deg,
        #3991ff 360deg
    );
    --gradient-border: conic-gradient(
        from calc(var(--border-angle) + 50.37deg) at 50% 50%,
        #3991ff 0deg,
        #8c4bff 124.62deg,
        #a396ff 205.96deg,
        #3991ff 299.42deg,
        #e0e0ff 342.69deg,
        #3991ff 360deg
    );

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    border: solid 1px transparent;
    border-radius: 4px;
    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;
    animation: bg-spin 3s linear infinite;

    @keyframes bg-spin {
        to {
            --border-angle: 1turn;
        }
    }

    .ai-button {
        display: inline-flex;
        align-items: center;
        width: 100%;
        gap: 6px;
        background-color: var(--ks-button-background-secondary);
        color: var(--ks-content-primary);
        box-shadow: 0px 4px 4px 0px #00000040;
        font-size: 12px;
        font-weight: 700;
        border: none;
        border-radius: 4px;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@import "./docs";