$bd-gutter-x: 3rem;
@import "variable";

.bd-gutter {
    --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {
    &.margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: $grid-gutter-width;

        &::-webkit-scrollbar {
            display: none;
        }
        &.margin {
            margin-top: 4.5rem;
            margin-bottom: 4.5rem;
        }
    }
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-content,
.bd-main > div.bd-title > h1,
.bd-main > div.bd-title .slug {
    margin: 0 auto;
    max-width: 48rem;
    @media (min-width: 2000px) {
        max-width: 55rem;
    }
    width: 100%;
}

.bd-main {
    grid-area: main;

    p {
        color: $white;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 2rem;

        a {
            color: $purple-35;
        }
    }

    li {
        color: $white;
    }
    h1 {
        padding-bottom: 1.5rem;
        font-size: calc($font-size-base * 3.125);
        color: $white;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
            font-size: calc($font-size-base * 2.125);
        }
    }

    h2 {
        font-size: $h2-font-size;
        color: $white;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
            font-size: calc($font-size-base * 1.875);
        }
    }

    h3 {
        padding-top: 1.25rem;
        font-size: calc($font-size-base * 1.75);
        color: $white;
        font-weight: 400;
    }

    h4 {
        padding-top: 0;
        color: $white;
        font-size: $h5-font-size;
        margin-bottom: 0.5rem;
    }

    h5 {
        padding-top: 0.75rem;
        font-size: $h6-font-size;
    }

    h6 {
        padding-top: 0.5rem;
        font-weight: 400;
        font-size: $font-size-base;
    }

    @include media-breakpoint-down(lg) {
        h1 {
            font-size: $h4-font-size;
            line-height: $h4-font-size;
        }
        h2 {
            font-size: $h5-font-size;
            line-height: $h5-font-size;
        }
        h3 {
            font-size: $h6-font-size;
            line-height: $h6-font-size;
        }
        h4 {
            font-size: $font-size-base;
            line-height: $font-size-base;
        }
        h5 {
            font-size: $font-size-sm;
            line-height: $font-size-sm;
        }
        h6 {
            font-size: $font-size-xs;
            line-height: $font-size-xs;
        }
    }

    @include media-breakpoint-down(lg) {
        max-width: 760px;
        margin-inline: auto;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-areas:
            "intro"
            "toc"
            "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit;
    }

    @include media-breakpoint-up(lg) {
        grid-template-areas:
            "intro   toc"
            "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr;
    }

    &.full {
        max-width: none;
        .bd-toc {
            display: none;
        }

        .bd-content {
            min-width: 100%;
        }

        @include media-breakpoint-up(md) {
            margin-top: 4rem;
            display: block;
        }

        h1 {
            margin: 0;
        }
    }

    .card {
        h4 {
            padding-top: 0;
        }

        .card-icon {
            background: none;
        }
    }
}

.bd-intro {
    grid-area: intro;
}

.bd-toc {
    grid-area: toc;
}

// For purposes of repositioning the plugin icons, resolves #981, #966.
.bd-content > div > h2 > span:not(.badge) {
    display: none !important;
}

.expressive-code {
    // makes the copied flag show in white on purple
    --ec-frm-tooltipSuccessBg: var(--ks-button-background-primary);
    margin-bottom: 2rem;

    // displays the name of the language on top-right of code blocks
    pre[data-language] {
        position: relative;
        &:before {
            content: attr(data-language);
            color: white;
            opacity: 0.5;
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 0.65rem;
            text-transform: lowercase;
            z-index: 1;
        }
        &:hover:before {
            display: none;
        }
    }
}

.bd-content {
    a[href^="https://"],
    a[href^="http://"] {
        &:after {
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: baseline;
            mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'><path fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'></path> <polygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'></polygon></svg>");
            background-color: currentcolor;
            content: "";
        }
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        border-radius: calc($spacer / 2);
        border: 1px solid $black-3;
        background-color: $black-2;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: 0;
        }

        @media only screen and (max-width: 768px) {
            padding-bottom: 56.25%;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.layout-docs-wrapper .bd-content {
    #{--bs-heading-color}: white;
    grid-area: content;
    min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410

    a {
        color: var(--ks-content-link);
        &:hover {
            color: var(--ks-content-link-hover);
        }
    }

    .bd-markdown {
        h1 {
            display: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
        position: relative;
        &:hover [href] {
            position: absolute;
            z-index: 1;
            left: -2rem;
            width: 2rem;
            display: block;
            .icon-link:before {
                content: "#";
            }
        }
    }

    h2 {
        margin-top: 3rem;
    }

    video,
    iframe {
        max-width: 100%;
    }
    iframe {
        width: 100%;
        margin-bottom: $spacer;
    }

    a[target="_blank"]::after {
        $svg-icon: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'><path fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'></path> <polygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'></polygon></svg>";
        -webkit-mask: url($svg-icon);
        mask: url($svg-icon);
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: currentcolor;
        content: "";
        vertical-align: baseline;
        margin-left: 1px;
    }

    a.badge[target="_blank"]::after {
        display: none;
        content: none;
    }
}

.bd-markdown h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-left: 5px solid #9ca1de !important;
    padding-left: 0.6rem;
    display: block;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 1px;
        top: -3rem;
        left: -5px;
        background-color: $black-6;
        margin-bottom: 0.5rem;
    }
}

.bd-markdown,
.bd-content {
    p,
    li {
        color: $white;
        line-height: 1.75rem;
        font-size: $h6-font-size;
        word-wrap: break-word;
    }
    h2 {
        color: $white;
        font-size: 1.875rem;
        line-height: 2.735rem;
        font-weight: 600;
    }

    h3 {
        color: $white;
    }

    code {
        background: #161617 !important;
        border: 1px solid #252526;
        border-radius: var(--bs-border-radius);
        color: #b9b9ba !important;
        padding: 0 0.25rem;
    }

    .code-block,
    .doc-alert,
    .astro-code {
        background-color: $black-2;
        code {
            border: 0;
            color: $white;
        }
    }

    .code-block,
    .astro-code {
        code {
            padding: 0;
        }
    }

    @import "../../assets/styles/_variable.scss";

    .astro-code {
        background-color: $black-2;
        border: $block-border;
        padding: 1.25rem 1.5rem;
        border-radius: var(--bs-border-radius-lg);
        color: var(--bs-white);
        position: relative;
        margin-bottom: 1em;
        overflow: hidden;
        code .line {
            white-space: pre-wrap;
        }

        .language {
            font-size: 0.75rem;
        }

        .language,
        .copy {
            color: var(--kestra-io-neutral-gray700) !important;
            position: absolute;
            top: 1.25rem;
            right: 1.25rem;
        }

        .copy {
            border: none;
            background: none;

            & .material-design-icon {
                &,
                & * {
                    height: 1.125rem !important;
                    width: 1.125rem !important;
                }
            }
        }

        #copied-tooltip {
            border-radius: $border-radius;
            background: $gray-500;
            padding: 4px 8px;
            font-size: $font-size-xs;
            margin-right: $popper-margin !important;

            #arrow,
            #arrow::before {
                position: absolute;
                width: 8px;
                height: 8px;
                background: inherit;
            }

            #arrow {
                visibility: hidden;
                right: -4px;
            }

            #arrow::before {
                visibility: visible;
                content: "";
                transform: rotate(45deg);
            }
        }
    }

    .doc-alert {
        border: 1px solid;
        border-left-width: 5px !important;
        padding: 1rem 1rem 1rem 3.25rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        position: relative;
        display: block;

        &::before {
            content: "";
            position: absolute;
            left: 1rem;
            top: 1.25rem;
            width: 1.5rem;
            height: 1.5rem;
            background-color: currentColor;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
        }

        > * {
            margin: 0;
        }

        p:first-child {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        pre,
        .code-block,
        .astro-code {
            margin-top: 0.75rem;
            width: 100%;
        }

        $alert-types: (
            "danger": (
                "color": "error",
                "icon":
                    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'/></svg>",
            ),
            "warning": (
                "color": "warning",
                "icon":
                    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M12,2L1,21H23L12,2M12,6L19.53,19H4.47L12,6M11,10V14H13V10H11M11,16V18H13V16H11Z'/></svg>",
            ),
            "info": (
                "color": "info",
                "icon":
                    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z'/></svg>",
            ),
            "success": (
                "color": "success",
                "icon":
                    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M12,2C6.5,2 2,6.5 2,12C2,17.5 6.5,22 12,22C17.5,22 22,17.5 22,12C22,6.5 17.5,2 12,2M10,17L5,12L6.41,10.59L10,14.17L17.59,6.58L19,8L10,17Z'/></svg>",
            ),
        );

        @each $type, $map in $alert-types {
            $color: map-get($map, "color");
            $icon: map-get($map, "icon");

            &.alert-#{$type} {
                border-color: var(--ks-border-#{$color});
                color: var(--ks-content-#{$color});
                background-color: var(--ks-background-#{$color});

                p {
                    color: var(--ks-content-#{$color});
                    font-size: 1rem !important;
                }

                &::before {
                    -webkit-mask-image: url($icon);
                    mask-image: url($icon);
                }
            }
        }
    }

    .ks-doc-next-link {
        &:hover {
            a,
            a:hover {
                color: var(--bs-white) !important;
            }
        }

        p {
            display: inline;
            margin-bottom: 0 !important;
        }
    }

    .doc-collapse {
        summary {
            cursor: pointer;
            font-size: 20px;
            color: var(--bs-white);
            display: inline-block;
            padding: 0.25rem 0.5rem;
            position: relative;
            margin-bottom: 0.5rem;
            padding-left: 2.25rem;

            &::-webkit-details-marker,
            &::marker {
                display: none;
            }

            &::before {
                $svg-icon: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='currentColor'/></svg>";
                content: "";
                position: absolute;
                left: 0.25rem;
                top: 50%;
                width: 24px;
                height: 24px;
                transform: translateY(-50%) rotate(0deg);
                transition:
                    transform 0.18s ease,
                    color 0.18s ease;
                background-color: currentColor;
                -webkit-mask: url($svg-icon) no-repeat 50% 50%;
                mask: url($svg-icon) no-repeat 50% 50%;
                -webkit-mask-size: cover;
                mask-size: cover;
            }

            &:hover {
                color: $purple-36;
                background-color: #252526;
                border-radius: 4px;

                &::before {
                    color: $purple-36;
                }
            }
        }

        &[open] summary::before {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    .table-dark {
        --bs-table-bg: $black-2 !important;
        color: transparent !important;
        outline: none;
        width: 100%;

        thead {
            border-bottom: none !important;
            th {
                font-size: $font-size-md;
                font-weight: 600;
                line-height: 1.25rem;
                padding: calc($spacer * 0.5) $spacer $spacer;
                background-color: transparent;
                border-bottom: 4px solid #8b8b8d !important;
                border-top: none;
                color: $white;
            }
        }

        tbody tr td {
            font-size: $font-size-sm;
            padding: calc($spacer * 1.5) $spacer $spacer !important;
            font-weight: 400;
            color: $white;
        }
    }
}