:root {
    #{--kestra-io-token-color-background-primary}: #111113;
    #{--kestra-io-token-color-background-hover-primary}: #404559;
    #{--kestra-io-token-color-background-secondary}: #161617;
    #{--tokens-border-border-active}: #8405ff;
    #{--kestra-io-token-color-border-primary}: #3d3d3f;
    #{--kestra-io-token-color-border-secondary}: #252526;
    #{--kestra-io-token-color-white}: #ffffff;
    #{--kestra-io-token-text-link-default}: #9ca1de;
    #{--kestra-io-neutral-gray300}: #1d1d1e;
    #{--kestra-io-neutral-gray400}: #252526;
    #{--kestra-io-neutral-gray500}: #3d3d3f;
    #{--kestra-io-neutral-gray700}: #8b8b8d;
    #{--kestra-io-neutral-gray900}: #e1e1e1;
}