//
// variables.scss
//

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700;900&display=swap");

// Color
$white: #ffffff;
$black: #161c2d;

// Gray
$gray-100: #f8f8fc;
$gray-200: #f1f5fa;
$gray-300: #eaf0f9;
$gray-400: #b6c2e4;
$gray-500: #8997bd;
$gray-600: #7081b9;
$gray-700: #303e67;
$gray-800: #2c3652;
$gray-900: #1d2c48;

$primary: #192A4E !default;
$secondary: #4F83A5 !default;
$tertiary: #9EBFD5 !default;

$blue: #1761fd !default;
$indigo: #6610f2 !default;
$purple: #6d81f5 !default;
$pink: #fd3c97 !default;
$red: #f5325c !default;
$orange: #ff8500 !default;
$yellow: #ffb822 !default;
$green: #22b783 !default;
$teal: #03d87f !default;
$cyan: #12a4ed !default;

$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $gray-900 !default;


$muted: #8492a6;

// Overlay
$overlay:                   rgba($dark, 0.7);
$gradident-overlay:         rgba($primary, 0.6);
$bg-overlay-white:          rgba($white, 0.5);

//Body Background
$shadow:                    0 0 3px rgba($dark,.15);
$shadow-md:                 0 5px 13px rgba($dark, .2);
$shadow-lg:                 0 10px 25px rgba($dark, 0.15);
$footer:                    lighten($black, 6%);

// Base font
$font-size-base:            1rem;

$font-family-base:          'Ubuntu', sans-serif;

//Color Picker/Switcher
$default:                   #2f55d4;
$skyblue:                   #32c2ec;
$skobleoff:                 #0f7173;
$slateblue:                 #766df4;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "info": $info,
    "danger": $danger,
    "dark": $dark,
    "muted": $muted,
    "light": $light,
    "blue": $primary,
    "footer": $footer
);

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
