// colors
$accentColor ?= #1AA5DE
$textColor ?= #222
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$badgeTipColor ?= #43ac6a
$badgeWarningColor ?= #FBD10B
$badgeErrorColor ?= #F04124
