name: Delete Deployment on PR Close
on:
  pull_request:
    types: [closed]

jobs:
  delete:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - name: Delete Cloudflare Pages Deployment
        shell: bash
        run: |
          ACCOUNT_ID="${{ secrets.CLOUDFLARE_ACCOUNT_ID }}"
          PROJECT_NAME="kestra-io"
          API_TOKEN="${{ secrets.CLOUDFLARE_TOKEN }}"
          BRANCH_NAME="${{ github.head_ref }}"

          API_URL="https://api.cloudflare.com/client/v4/accounts/$ACCOUNT_ID/pages/projects/$PROJECT_NAME/deployments"
          HEADER_TOKEN="Authorization: Bearer $API_TOKEN"
          PER_PAGE=25

          RESPONSE=$(curl -s -H "$HEADER_TOKEN" "$API_URL?page=1&per_page=$PER_PAGE&env=preview")
          TOTAL_PAGES=$(echo "$RESPONSE" | jq '.result_info.total_pages')
          echo "➡️ Total pages: $TOTAL_PAGES"

          CURRENT_PAGE=1

          while [ $CURRENT_PAGE -lt $TOTAL_PAGES ]; do
              echo "➡️ Processing page: $CURRENT_PAGE"

              RESPONSE=$(curl -s -H "$HEADER_TOKEN" "$API_URL?page=$CURRENT_PAGE&per_page=$PER_PAGE&env=preview")

              MATCHS=$(echo $RESPONSE | jq -r ".result[] | select(.deployment_trigger.metadata.branch==\"$BRANCH_NAME\") | .id")

              for DEPLOY_ID in $MATCHS;
              do
                  echo "✅ Deleting deployment: $DEPLOY_ID for branch: $BRANCH_NAME"
                  curl -s -H "$HEADER_TOKEN" -X DELETE "$API_URL/$DEPLOY_ID"
                  exit 0
              done

              CURRENT_PAGE=$((CURRENT_PAGE+1))
          done

      # Slack on error
      - name: Slack - Notify on failure
        id: send-ci-failed
        if: always() && env.SLACK_WEBHOOK_URL != '' && job.status == 'failure'
        uses: kestra-io/actions/composite/slack-status@main
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
