name: Deploy

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-publish
  cancel-in-progress: true
jobs:
  index-doc:
    name: Build and publish production
    runs-on: ubuntu-latest
    env:
      CF_PAGES_BRANCH: ${{ github.ref_name }}
      CF_PAGES_COMMIT_SHA: ${{ github.sha }}
    steps:
      - name: Checkouts
        uses: actions/checkout@v4

      - name: Set up Node via nvm
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run pages:build

      - name: Publish using wrangler
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_TOKEN }}
          command: pages deploy dist --project-name=kestra-io
          # Optional: Enable this if you want to have GitHub Deployments triggered
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      # check the return of /api/current-sha to avoid starting update too early
      - name: Compare current-sha to github.sha
        run: |
          for i in {1..30}; do
            response=$(curl -s https://kestra.io/api/current-sha)

            if [[ "$response" == "${{ github.sha }}" ]]; then
              echo "Current SHA matches: $response starting initialization"
              break
            fi

            echo "Current SHA not updated yet, retrying in 10 seconds..."
            sleep 10
          done

      - name: trigger docs & blogs deployment
        run: curl --parallel --max-time 200 https://kestra.io/docs?sha=${{ github.sha }} https://kestra.io/blogs?sha=${{ github.sha }}

      - name: Check docs.html for HTTP 524 errors
        run: |
          curl https://kestra.io/docs -o docs.html
          if grep -q "error code: 524" docs.html; then
            echo "HTTP 524 error found in docs.html"
            exit 1
          fi

      - name: Check blogs.html for HTTP 524 errors
        run:  |
          curl https://kestra.io/blogs -o blogs.html
          if grep -q "error code: 524" blogs.html; then
            echo "HTTP 524 error found in blogs.html"
            exit 1
          fi

      - name: Check docs.html contains the expected content
        if: always()
        run: |
          if ! grep -q "What is Kestra?" docs.html; then
            echo "Expected content not found in docs.html"
            exit 1
          fi

      - name: Check blogs.html contains the expected content
        if: always()
        run: |
          if ! grep -q "All things Kestra" blogs.html; then
            echo "Expected content not found in blogs.html"
            exit 1
          fi

      - name: upload docs.html to artifacts
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: docs.html
          path: docs.html

      - name: upload blogs.html to artifacts
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: blogs.html
          path: blogs.html